{% extends 'layout/security_layout.html' %}
{% block main %}
    <div class="login">
        <div class="fixed_login">
          <h3 style="text-align: center">重置密码</h3>
          {% include "security/_messages.html" %}
          <form action="{{ url_for_security('forgot_password') }}" method="POST" name="forgot_password_form">
            <ul>
              {{ forgot_password_form.hidden_tag() }}
              <li></li>
              <li><label for="email">Email:</label></li>
              <li>
                <input id="email" name="email" type="text" value="" class="txt">
              </li>
              {% if forgot_password_form.email.errors %}
                  {% for error in forgot_password_form.email.errors %}
                  <li class="login_error">{{ error }}</li>
                  {% endfor %}
              {% endif %}
              <li class="last-item">
                <button>重置密码</button>
                {{ security_menu(security, url_for_security, "forgot_password") }}
              </li>
            </ul>
          </form>
        </div>
    </div>
{% endblock %}
