{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% import 'admin/static.html' as admin_static with context %}
<!DOCTYPE html>
<html>
<head>
  <title>系统设定 - 列表设定 - Visual&#39;s Best 管理后台</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/css/bootstrap.min.css', v='3.3.5') }}"
        rel="stylesheet">
  <link href="{{ admin_static.url(filename='bootstrap/bootstrap3/css/bootstrap-theme.min.css', v='3.3.5') }}"
        rel="stylesheet">
  <link href="{{ admin_static.url(filename='admin/css/bootstrap3/admin.css', v='1.1.0') }}" rel="stylesheet">
  <style>
    body {
      padding-top: 4px;
    }
  </style>
  <link href="{{ admin_static.url(filename='vendor/select2/select2.css', v='3.5.2') }}" rel="stylesheet">
  <link href="{{ admin_static.url(filename='vendor/select2/select2-bootstrap3.css', v='1.4.6') }}" rel="stylesheet">
  <link href="{{ admin_static.url(filename='vendor/bootstrap-daterangepicker/daterangepicker-bs3.css', v='1.3.22') }}"
        rel="stylesheet">

  <link href="{{ url_for('static', filename='css/admin.css') }}" rel="stylesheet">
  <link href="{{ url_for('static', filename='favicon.ico') }}" rel="icon" type="image/x-icon">
</head>
<body>
<div class="container">
  {% include "security/_messages.html" %}
  <form method="POST" action="" class="form-horizontal">
    <div class="login">
        <div class="fixed_login">
          <h3 style="text-align: center">欢迎登陆后台管理界面</h3>
          <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            <ul>
              {{ login_user_form.hidden_tag() }}
              <li><label for="email">Email:</label></li>
              <li>
                <input id="email" name="email" type="text" value="" class="txt">
              </li>
              <li><label for="password">密码:</label></li>
              <li>
                <input id="password" name="password" type="password" value="" class="txt">
              </li>
              <li>
                <input id="remember" name="remember" type="checkbox" value="y" class="checkbox">
                <label for="remember">记住我</label>
              </li>
              <li>
                <br>
                <button>登录</button>
                <a href="#" class="wangji">忘记密码？</a></li>
            </ul>
          </form>
        </div>
    </div>
  </form>
</div>
</body>
</html>