{% extends 'layout/security_layout.html' %}
{% block main %}
    <div class="login">
        <div class="fixed_login">
          <h3 style="text-align: center">欢迎登录系统</h3>
          {% include "security/_messages.html" %}
          <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
            <ul>
              {{ login_user_form.hidden_tag() }}
              <li><label for="email">Email:</label></li>
              <li>
                <input id="email" name="email" type="text" value="" class="txt">
              </li>
              {% if login_user_form.email.errors %}
                  {% for error in login_user_form.email.errors %}
                  <li class="login_error">{{ error }}</li>
                  {% endfor %}
              {% endif %}
              <li><label for="password">密码:</label></li>
              <li>
                <input id="password" name="password" type="password" value="" class="txt">
              </li>
              {% if login_user_form.password.errors %}
                  {% for error in login_user_form.password.errors %}
                    <li class="login_error">{{ error }}</li>
                  {% endfor %}
              {% endif %}
              <li>
                <input id="remember" name="remember" type="checkbox" value="y" class="checkbox">
                <label for="remember">记住我</label>
              </li>
              <li class="last-item">
                <button>登录</button>
                {{ security_menu(security, url_for_security, "login") }}
              </li>
            </ul>
          </form>
        </div>
    </div>
{% endblock %}
