/*.fixed_zhuce, .zhuce_fixed, .fixed_zhuce_op {*/
/*height:400px;*/
/*}*/

@media (min-width: 1280px) {
    .demo {
        width: 1000px;
    }
}

::-webkit-input-placeholder {
    /* WebKit, Blink, Edge */
    color: #CCCCCC;
}

:-moz-placeholder {
    /* Mozilla Firefox 4 to 18 */
    color: #CCCCCC;
    opacity: 1;
}

::-moz-placeholder {
    /* Mozilla Firefox 19+ */
    color: #CCCCCC;
    opacity: 1;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #CCCCCC;
}

#fixed_zhuce_form {
    display: none;
}

#fixed_zhuce_form ul {
    width: 85%;
    margin: 0 auto;
}

#fixed_zhuce_form ul li {
    height: 28px;
    line-height: 28px;
    color: #BDBDBD;
    text-align: left;
    margin-top: 0;
}

#fixed_zhuce_form ul li input.txt {
    width: 100%;
    height: 25px;
    background: #EAEAEA;
    border: none;
    border-radius: 3px;
}

#fixed_zhuce_form ul li button {
    width: 100px;
    border: none;
    background: #4ABDCC;
    border-radius: 3px;
    color: #fff;
    font-family: "Microsoft Yahei", sans-serif;
    margin-top: 10px;
}

.popup-close-button {
    color: #5BD0E0 !important;
    margin-top: 6px;
}

.popup-register-close-button {
    margin-top: 0;
    color: #5BD0E0 !important;
    float: none;
}

.others_right_head h4 {
    padding-top: 15px;
}

.edit-experience li {
    height: auto;
}

.edit-experience {
    padding-top: 20px;
    width: 95%;
    margin: auto;
    text-align: center;
}

.experience {
    line-height: 200%;
    min-font-size: 14px;
    font-size: 14px;
    padding: 20px;
}

.circular {
    width: 42px;
    height: 39px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin-top: 7px;
    display: inline-block;
}

.md-circular {
    width: 56px;
    height: 56px;
    border-radius: 28px;
    -webkit-border-radius: 28px;
    -moz-border-radius: 28px;
    display: inline-block;
}

.big-circular {
    width: 90px;
    height: 90px;
    border-radius: 45px;
    -webkit-border-radius: 45px;
    -moz-border-radius: 45px;
    margin-top: 7px;
    display: inline-block;
}

.header_create_collection_link {
    width: 90px;
    height: 53px;
    background: url(../images/pen.png) no-repeat 10px;
    float: left;
    line-height: 53px;
    text-indent: 2em;
}

.header_create_collection_link a {
    color: #fff;
}

.header_create_collection_link:hover {
    background: #fff url(../images/pen1.png) no-repeat 10px;
}

.header_create_collection_link:hover a {
    color: #42BACC;
}

.header_gallery_setting {
    width: 100px;
    display: inline-block;
}

.header_setting_link {
    display: inline-block;
    line-height: 53px;
    height: 53px;
}

.header_right {
    width: 580px;
}

.photo_categories_list {
    width: 95%;
    margin-top: 15px;
}

.photo_categories_list thead th, .photo_categories_list tbody tr td {
    text-align: center;
}

.baocun {
    margin: 22px auto;
}

#photo_category_edit_panel {
    display: none;
}

#images-preview-panel img {
    height: 88px;
}

#images-preview-panel div {
    padding-right: 10px;
    padding-top: 10px;
}

#images-preview-panel div span {
    height: 22px;
    width: 22px;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    background: url('../images/fabu_cuo.png') center no-repeat;
}

.remark-text {
    text-align: center;
    background-color: #EFEFEF;
    width: 100%;
}

.search_no_result {
    margin: auto;
    text-align: center;
    padding-top: 30px;
    font-size: 18px;
}

.include_none {
    float: right;
}

.lose-left {
    padding-left: 20px;
    padding-right: 10px;
}

.inherit-height {
    height: inherit !important;
}

#users_styles {
    height: inherit !important;
    width: 100%;
    max-height: 150px;
}

.simple-option {
    border-bottom: 1px solid #999999;
    margin: 5px auto;
}

#delete_photo_collection_link {
    text-decoration: underline;
    cursor: pointer;
    color: #FFB867;
}

.flashes {
    position: fixed;
    z-index: 100001;
    width: 40%;
    left: 30%;
    text-align: center;
    background: rgba(50, 50, 50, 0.5);
    height: 50px;
    line-height: 50px;
    top: 53px;
    color: #FFFFFF;
    font-size: 16px;
}

#events-calendar-container, .request-form-container {
    width: 80%;
    margin: 30px auto auto;
}

.request-form-container {
    width: 88%;
}

#events-calendar {
    font-size: 16px;
}

#event-calender-info {
    margin: 10px auto auto;
    color: #333333;
    padding-bottom: 20px;
    font-size: 14px;
}

.others_right .button {
    height: 40px;
}

#date_status_list_container {
    width: 95%;
    margin: 20px auto;
}

#events-calendar .glyphicon {
    color: #999999;
    padding: 0 30px;
}

.del-icon {
    cursor: pointer;
    font-size: 16px;
}

.event, .unavailable, .unavailable a {
    cursor: not-allowed !important;
}

#events-calendar td.week-day-0:not(.invalid-day), #events-calendar td.week-day-6:not(.invalid-day) {
    background: rgba(190, 190, 190, 0.6);
    border: 1px solid #FFFFFF;
    cursor: not-allowed;
}

#events-calendar td.week-day-0:not(.invalid-day) a, #events-calendar td.week-day-6:not(.invalid-day) a {
    color: #FFFFFF;
    font-weight: bolder;
    cursor: not-allowed;
}

.blog_buttons {
    margin: auto;
    position: fixed;
    top: 100px;
    right: 0;
}

.blog_buttons .button {
    width: 180px;
    height: 60px;
    background: #42BACC;
    line-height: 33px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    margin: 22px auto;
    display: block;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: "微软雅黑", "Microsoft YaHei", serif;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    z-index: 100;
}

.request-form-container .basic_xinxi li .basic_xinxi_01 {
    height: 28px;
    width: 25%
}

.request-form-container .basic_xinxi li .basic_xinxi_02 {
    width: 75%;
    line-height: 28px;
}

.request-form-container .basic_xinxi li .basic_xinxi_02 select {
    margin-left: 30px;
}

.bic_calendar .event {
    border: 1px solid #FFFFFF;
}

.personal_gl_tab, .msg_tab {
    border-bottom: 1px solid #EFEFEF;
}

.msg_tab ul li {
    width: 45%;
}

.no_ul_table_content_msg {
    text-align: center;
    border: 1px solid rgb(239, 239, 239);
    padding: 20px 0;
    font-size: 14px
}

.no_request_table_msg {
    font-size: 14px;
    line-height: 120px;
    text-align: center;
}

.renwu .rw div.rw_details .rw_button .zaishuo {
    background: #AAAAAA;
    width: 120px;
    padding-left: 20px;
}

.renwu .rw div.rw_details .rw_button .gowancheng {
    width: 120px;
    padding-left: 20px;
}

.loose-left-icon {
    padding-left: 10px;
}

.message_container {
    padding: 20px;
    font-size: 14px;
}

.message_container div {
    line-height: 200%;
}

.message_container pre {
    width: 98%;
    margin: 20px auto auto;
}

.message_container div span {
    width: 150px;
    min-width: 150px;
    display: inline-block;
    margin-right: 30px;
    border-bottom: 1px solid #EEEEEE;
    padding-bottom: 0;
    padding-left: 10px;
    padding-top: 10px;
}


