@charset "utf-8";
/* CSS Document */
/*公共样式*/
body,ol,ul,h1,h2,h3,h4,h5,h6,p,th,td,dl,dd,form,fieldset,legend,input,textarea,select,img{margin:0;padding:0;}
body{font-size:12px; font-family:"Microsoft Yahei","宋体","SimHei", Verdana, Arial;color:#868686; min-width:1000px;}
h1,h2,h3,h4,h5,h6{ font-style:none;}
a{text-decoration:none; color:#6a6a6a;}
a:hover{ text-decoration:none;}
i,em{font-style:normal}
ul,li{list-style:none}
img{border:0;vertical-align:middle}
table{border-collapse:collapse;border-spacing:0;}
.clear{clear:both;}
.layer{ width:1000px; margin:0 auto; position:relative;}

/*广告图*/
#banner{  width:100%; height:550px; position:relative;}
.pic1{ width:38px; height:38px; position:absolute;left:50%; margin-left:-550px;top:180px;z-index:800;}
.pic2{ width:38px; height:38px; position:absolute;right:50%; margin-right:-550px;top:180px;z-index:800;}

/*切换*/
.banner{width:100%;height:550px;margin:0 auto;position:relative;clear:both;z-index:500;}
.banner .imgs a{width:100%;height:550px;background-color:#fff;position:absolute;display:none;background-position:center top;background-repeat:no-repeat;z-index:10;}
.banner .nums{width:100%;position:absolute;z-index:900;left:0;bottom:10px;text-align:center; z-index:500;}
.banner .nums a{width:13px;height:13px;display:inline-block;cursor:pointer;margin:0 3px;background:url(../images/bullets.png) no-repeat left top;overflow:hidden;}
.banner .nums .now{background-position:right top;}
.clearbar{width:100%;height:32px;position:absolute;left:0;bottom:0;z-index:888;}
/*header*/
.header_bg{ width:100%; height:53px; background:#fff; filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity: 0.2; opacity: 0.2; position:absolute; top:0px; z-index:1000; min-width:1000px;}
.common-header{ width:100%; height:53px; position:absolute; top:0px; z-index:1000; float:left; color:#fff; font-size:14px; min-width:1000px;}
.common-header .logo{ float:left;}
.logo img{ margin-top:7px;}
/*导航*/
.common-header .nav{ float:left; height:53px; line-height:53px; padding-left:19px;}
.common-header .nav li{ float:left;}
.common-header .nav li a{ padding:0 23px; color:#fff; font-size:14px;}
/*搜索*/
.header_right{ width:480px; float:right;}
.header_right1{ width:310px;}
.search{ width:117px; height:25px; float:left; margin-top:14px; position:relative; top:0px; left:0px;border:1px solid #fff; border-radius:15px;} 
.search input{ width:80px; height:20px; border:none; background:none; margin:0 auto; margin-top:3px; margin-left:5px; color:#fff;}
.search button{ display:block; width:20px; height:20px; background:none;border:none; position:absolute; right:5px; top:2px; text-align:center; cursor:pointer;}
.search button{ border:none;}
.search button img{ margin-top:3px; margin-left:-3px;}
/*登录注册*/
.login, .logout { float:left;color:#fff; margin-left:10px; height:53px; line-height:53px; position:relative;}
.login a, .logout a{ color:#fff; padding:0 10px; font-size:14px;}
.help{ width:80px; height:53px; line-height:53px; float:left; text-align:center;}
.help a{ color:#fff; font-size:14px;}
.header_last{ width:120px; height:53px; background:url(../images/pen.png) no-repeat 10px; float:left; line-height:53px; text-indent:2em;}
.header_last a{ color:#fff;}
.header_last:hover{ background:#fff url(../images/pen1.png) no-repeat 10px;}
.header_last:hover a{ color:#42BACC;}
.header_right .curr{ background:#fff url(../images/pen1.png) no-repeat 10px;}
.header_right .curr a{ color:#42BACC;}

/*登录弹出框*/
.login_fixed{width:240px; height:360px;position:absolute; left:0; display:none;}
.fixed_login_op{width:240px; height:360px; background:#F7F7F7; border-radius:5px; position:absolute; left:0; z-index:5000; color:#333; opacity:0.99;}
.fixed_login{ width:240px; height:360px; border-radius:5px; position:absolute; left:0; z-index:5000; color:#333;}
.fixed_login .fixed_login_head{ height:30px; line-height:30px; width:85%; margin:5px auto; border-bottom:1px solid #F0F0F0;}
#register_link_in_login, .fixed_zhuce .fixed_zhuce_head a{ float:right; color:#5BD0E0;}
.fixed_login ul{width:85%; margin:0 auto;}
.fixed_login ul li{ height:28px; line-height:28px; color:#BDBDBD;}
.fixed_login ul li input.txt{ width:100%; height:25px; background:#EAEAEA; border:none; border-radius:3px;}
.fixed_login ul li input.checkbox{ margin-top:8px; margin-right:5px; display:block; float:left;}
.fixed_login ul li button{ width:80px; border:none; background:#4ABDCC;border-radius:3px; color:#fff;
    font-family: "Microsoft Yahei", serif;}
.fixed_login ul li .wangji{ color:#4ABDCC;}
.fixed_login ul li.line{ border-bottom:1px solid #F0F0F0; text-align:center; margin-bottom:10px;}
.fixed_login ul li.line span{ width:40px; height:50px; background:#F5F6F6; line-height:55px; display:block; margin:0 auto;}
.fixed_login ul li.hezuo{ color:#EAEAEA; margin-top:5px;}
.fixed_login ul li.hezuo a{color:#4ABDCC; padding:0px 8px;}

.zhuce_fixed{ width:240px; height:270px; position:absolute; left:50px; display:none;}
.fixed_zhuce_op{ width:240px; height:270px; position:absolute; left:0px; background:#F7F7F7;border-radius:5px; opacity:0.99;}
.fixed_zhuce{ width:240px; height:270px; position:absolute; left:0; padding-top:10px}
.fixed_zhuce ul{ width:85%; height:auto; margin:0 auto; margin-top:20px; border-bottom:2px solid #F0F0F0; padding-bottom:20px;}
.fixed_zhuce ul li{ width:100%; height:30px;border-radius:5px; margin-top:10px; line-height:30px;  text-align:center; }
.fixed_zhuce ul li.register_normal_user { background:#41BACC;}
.fixed_zhuce ul li.register_photographer { background:#fff;}
.fixed_zhuce ul li.register_photographer a{ color:#585357;}
.fixed_zhuce ul li a{ display:block;}
.fixed_zhuce ul li.line{ border-bottom:1px solid #F0F0F0; text-align:center; margin-bottom:10px; margin-top:0px;}
.fixed_zhuce ul li.line span{ width:40px; height:50px; background:#F5F6F6; line-height:55px; display:block; margin:0 auto; color:#585357;}
.fixed_zhuce ul li.youxiang{ background:#31C1D6;}
.fixed_zhuce ul li.green{ color:#585357; text-align:left; line-height:20px;}
.fixed_zhuce ul li.green a{ color:#41BACC; display:inline; padding:0 1px;}

.fixed_zhuce p{ width:85%; margin:0 auto; color:#6B6976;}
.fixed_zhuce p a{ color:#41BACC;}
/*banner上面的内容*/
.banner_above{ width:694px; height:53px; position:absolute; top:70%; background:#fff; z-index:1000; left:50%; margin-left:-397px; filter:alpha(opacity=33); -moz-opacity:0.33; -khtml-opacity: 0.33; opacity: 0.33; border-radius:30px;}
.banner_top{ width:694px; height:53px; position:absolute; top:70%; z-index:1000; left:50%; margin-left:-397px; border-radius:30px; margin-top:7px;}
.banner_top ul{ position:relative;}
.banner_top ul li{ width:141px; height:38px; background:#fff; border-radius:20px; color:#000; line-height:38px; float:left; margin-left:8px; text-indent:1em; font-size:14px; position:relative;}
.banner_top ul li.li_big{ width:200px;}
.banner_top ul li.li_center{ width:140px;}
.banner_top ul li.li_small{ width:125px;}
.banner_top ul li a{ display:block; background:url(../images/select.png) no-repeat right; width:90%; margin:0 auto;}
.banner_top a.search_big{ background:none; border:none; margin-left:10px; margin-top:6px; cursor:pointer; display:block; float:left;}
/*二级*/
#banner .banner_top ul li ul.photo_add{ width:100%; height:auto; text-indent:0; background:#F3F3F3; position:absolute; top:20px; z-index:-5000; border-radius:7px; overflow:hidden; display:none;}
.banner_top ul li ul li{ width:100%; height:auto; text-indent:0; margin-left:0px; border-radius:0px;background:#F3F3F3;}
.banner_top ul li ul li a{ text-align:center; width:80%; margin:0 auto; border-bottom:1px solid #fff; display:block; background:none;}
.banner_top ul li ul li a.banner_top_p{ margin-top:20px;}
/*主体部分*/
.main{ width:100%; height:auto; background:#fff; overflow:hidden; margin-bottom:30px;}
.main_jingw{ width:100%; height:auto; overflow:hidden;}
.main_jingw h6{ font-size:24px; font-family: "微软雅黑", "Microsoft YaHei", serif; font-weight:normal; color:#000; letter-spacing:3px;}
.main_jingw .jingwu{ margin:55px 0 25px 500px;}
.main_jingw ul{ width:100%; height: auto;}
.main_jingw ul li{ float:left; margin-right:8px;margin-top:8px; position:relative;}
.main_jingw .huodong{margin:55px 0 25px 322px;}
.main_jingw .other{margin:55px 0 25px 480px;}
.main_jingw ul li p{ width:100%; height:220px; background:#000;filter:alpha(opacity=20); -moz-opacity:0.2; -khtml-opacity: 0.2; opacity: 0.2; position:absolute; left:0px; top:0px; display:none;}
.main_jingw ul li div{ position:absolute; left:50%; top:50%; margin-left:-25px; margin-top:-25px; cursor:pointer; display:none;}
.main_jingw ul li:hover p,.main_jingw ul li:hover div{ display:block;}
/*季节主打或套餐*/
.season{ width:100%; height:auto; background:#f7f7f7; margin-top:70px; padding-bottom:20px;}
.season h6{font-size:24px; font-family: "微软雅黑", "Microsoft YaHei", serif; font-weight:normal; color:#000; letter-spacing:3px; text-align:center; line-height:96px;}
.season ul{ width:100%; height:auto; margin:0 auto; overflow:hidden; margin-left:16px;}
.season ul li{ float:left; margin-right:16px; position:relative;}
.season ul li p{ position:absolute; left:50%; top:50%; margin-left:-50px; margin-top:-25px; color:#fff; font-size:36px; font-weight:normal;font-family: "微软雅黑", "Microsoft YaHei", serif; text-shadow:2px 2px 10px #333; width:100px; height:50px; line-height:50px; text-align:center;}
/*视频*/
.video{ width:100%; height:auto; background:#f7f7f7; margin-top:70px; position:relative;font-family: "微软雅黑", "Microsoft YaHei", serif;}
.video_img{ position:relative; width:100%; height:451px; top:0px; left:0px;}
.video_text{ position:absolute; top:50%; left:50%; width:380px; height:200px; margin-left:-190px; margin-top:-90px; text-align:center;}
.video_text h3{ font-size:36px; color:#fff; font-weight:normal; letter-spacing:6px;}
.video_text p{ font-size:24px; color:#fff; margin-top:16px;}
.video_text img{ margin-top:60px;}
/*社区*/
.community{ width:100%; height:auto; background:#f7f7f7; margin-top:70px; padding-bottom:0px;}
.community ul{ width:100%; height:auto; margin:0 auto; overflow:hidden;}
.community ul li{ float:left; margin-right:0px; width:316px; height:282px; text-align:center;}
.community ul li a{ display:block; width:316px; height:282px; overflow:hidden;}
.community ul li a.community_01{ background:url(../pic/community_01.png) no-repeat center;}
.community ul li a.community_02{ background:url(../pic/community_02.png) no-repeat center; margin-left:26px;}
.community ul li a.community_03{ background:url(../pic/community_03.jpg) no-repeat center; margin-left:52px;}
.community ul li a h5{ font-size:24px; color:#fff; font-weight:normal; letter-spacing:5px; margin-top:205px;} 
.community ul li a span{ font-size:18px; color:#fff; width:100%; letter-spacing:3px;}
/*foot*/
.foot{ width:100%; height:338px; background:url(../pic/footer_bg.jpg) no-repeat center; margin-top:60px;font-family: "微软雅黑", "Microsoft YaHei", serif; overflow:hidden;}
.foot h6{ text-align:center; font-size:24px; color:#fff; letter-spacing:5px; font-weight:normal; margin-top:53px;}
.foot ul li{ width:33%; float:left; text-align:center;}
.foot ul{ margin-top:46px;}
.foot ul li h4{ font-size:18px; font-family: "微软雅黑", "Microsoft YaHei", serif; font-weight:600; color:#fff; margin:24px 0 16px 0;}
.foot ul li p{ width:90%; margin:0 auto; color:#fff; font-size:14px; line-height:22px; letter-spacing:2px;}
.foot ul li p a{ color:#fff; text-decoration:underline;}
/*版权*/
.copyright{ width:100%; height:40px; background:#424242; text-align:center; line-height:40px; color:#fff;}

/*别人看摄影师页面*/
.others_header_bg{ width:100%; height:53px; background:#42BACC; filter:alpha(opacity=100); -moz-opacity:1; -khtml-opacity:1; opacity:1; position:relative; top:0px; z-index:1000; min-width:1000px;}
.login img{ text-align:center; margin:0px 15px 0; cursor:pointer;}
/*others_left*/
.others_left{ width:210px; height:auto; float:left; margin-top:37px;}
/*个人简历*/
.others_jj{ width:100%; height:auto; border:1px solid #EDEDED; margin-bottom:24px;}
.others_jj div.others_tx img{ width:100%;}
.others_jj div.others_xq{ padding-bottom:15px; overflow:hidden; text-align:center;}
.others_jj .zuozhe_name{ font-size:20px; text-align:center; margin:15px auto 0px;}
.others_jj .about{ text-align:center; width:100%; height:35px; line-height:35px; text-align:center; font-size:16px;}
.others_jj .about a{color:#42bacc; }
.others_jj div.others_xq h5{ font-weight:normal; font-size:14px; color:#42bacc; margin:0 auto; overflow:hidden; line-height:22px;}
.others_jj div.others_xq a{ font-size:14px; color:#42bacc; display:block;}

.page_xq{ width:100%; text-align:center;}
.others_jj div.page_xq h5{ width:100%; margin-left:0px;}
/*时间*/
.others_jj h4{ width:100%; height:49px; background:#FAFAFA; border-bottom:1px solid #EDEDED; text-align:center; color:#868686; font-size:18px; line-height:49px; font-weight:normal;}
.other_time{ width:100%; height:auto; border-bottom:1px solid #EDEDED;}
.other_time h5{ text-align:center; font-size:16px; font-weight:normal; color:#42bacc; margin:15px 0;}
.other_time ul{ width:96%; height:auto; overflow:hidden; margin:0 auto;}
.other_time ul li{ width:100%; line-height:25px; overflow:hidden;}
.other_time ul li a{ width:14.2%; text-align:center; display:block; float:left;}
.other_time ul li a:first-child{ color:#52BECE;}
.other_time ul li a:last-child{ color:#52BECE;}
.other_time_lis{ width:100%; height:28px; overflow:hidden;}
.other_time_lis span{ text-align:center; line-height:28px; display:block; color:#52BECE; cursor:pointer;}
.other_time_lis p{ text-align:center; margin-top:5px;}
.other_time_lis p a{ margin:0 10px;}

.time_head{ width:90%; margin:0 auto; line-height:30px; overflow:hidden;}
.time_head h6{ float:left; font-weight:normal; font-size:14px;}
.time_head p{ float:right; font-size:14px;}
.time_select{ width:90%; margin:0 auto;}
.time_select select{ width:33%; font-size:12px; color:#666; border:1px solid #ccc;}
.time_select select.time_num{ width:28%;}
.time_other{ width:90%; border:1px solid #ccc; margin:15px auto; overflow:hidden; text-align:center; line-height:25px; color:#898880; font-size:12px;border-bottom:none;}
.time_other div{ width:40%; float:left; border-bottom:1px solid #ccc;}
.time_other div.time_other_left{ width:59%; text-indent:1em; text-align:left;border-right:1px solid #ccc;}
.other_time button{width:90%; margin:0 auto; background:#42BACC; border:none; line-height:30px; color:#fff; display:block; border-radius:3px; margin-bottom:15px; font-family: "微软雅黑", "Microsoft YaHei", serif; cursor:pointer;}
/*快速链接*/
.others_jj h3{ width:100%; height:49px; background:#FAFAFA; border-bottom:1px solid #EDEDED; text-indent:2em; color:#868686; font-size:18px; line-height:49px; font-weight:normal;}
.others_links{ text-indent:2em; padding:15px 0 15px 0;}
.others_links a{ display:block; font-size:14px; color:#52BECE; line-height:34px;}
/*others_right*/
.others_right{ width:755px; float:right; height:auto;margin-top:37px;}
.others_right_head{ width:100%; height:50px; background:#FAFAFA;border-bottom:1px solid #EDEDED; line-height:50px;font-size:18px;}
.others_right_head h4{ font-weight:normal;  text-indent:1em; float:left;}
.others_right_head div{ float:right; padding-right:10px;font-size:16px;}
.others_right_head div a:hover{ color:#42BACC;}
.others_works{ width:100%; height:auto;}
.others_works li{ width:225px; height:auto; border:1px solid #EDEDED; float:left; margin-left:19px; margin-top:23px;}
.others_works li a img{ width:100%;}
.others_works li h2{ font-size:18px; font-weight:normal; text-align:center; margin:4px 0;}
.others_works li h6{font-size:12px; font-weight:normal; text-align:left; margin:3px 5px; line-height: 150%;}
.others_works li div{ width:100%; height:23px; background:#FAFAFA;}
.others_works li div a{ width:50px; height:23px; line-height:23px; text-indent:1em; float:left; display:block;}
.others_works li div a.zan{ background:url(../images/zan.png) no-repeat left; margin-left:70px;}
.others_works li div a.wx{background:url(../images/wx.png) no-repeat left;}

.renwu{ width:755px; height:auto; margin:0 auto;}
.renwu li{ width:94%; height:120px; border:1px solid #EFEFEF; position:relative;}
.renwu_x{ position:absolute; right:10px; top:15px; cursor:pointer;}
.renwu .rw{ background:none; margin:10px 0 0 20px;}
.renwu .rw p.rw_img{ float:left;}
.renwu .rw p.rw_img img{ width:100px;}
.renwu .rw div.rw_details{ background:none; float:left; width:500px; margin-left:20px;}
.renwu .rw div.rw_details h4{ color:#868686; font-size:18px; font-weight:normal;}
.renwu .rw div.rw_details p{ font-size:12px; margin:4px 0;}
.renwu .rw div.rw_details .rw_button{background:none; margin-top:12px;}
.renwu .rw div.rw_details .rw_button button{ width:84px; height:27px; border-radius:3px;border:none; color:#fff; font-family: "微软雅黑", "Microsoft YaHei", serif; cursor:pointer;}
.renwu .rw div.rw_details .rw_button .gowancheng{ width:84px; height:27px; border-radius:3px; background:#42BACC; border:none; color:#fff; font-family: "微软雅黑", "Microsoft YaHei", serif;}
.renwu .rw div.rw_details .rw_button .zaishuo{ margin-left:20px;}
/*other_qie*/
.other_qie{ width:100px; margin:50px auto 23px; height:13px;}
.other_qie li{ width:13px; height:13px; background:url(../images/n_curr.png) no-repeat center; float:left; padding:0 5px; cursor:pointer;}
.other_qie li.curr{background:url(../images/n_curr_xz.png) no-repeat center;}
/*个人主页head*/
.main_head{ width:100%; height:54px; background:#EFEFEF; overflow:hidden;}
.main_head ul li{ width:70px; line-height:54px; float:left; margin-right:30px; text-align:center;}
.main_head ul li.curr{ background:#fff;}
.main_head ul li a{ color:#42bacc; font-size:14px;}
/*个人主页1--我的照片*/
.others_xq h5 a{ color:#64C3D3; font-size:14px;}
.personal_contacts{ color:#64C3D3; line-height:40px;}
.personal_contacts a{ font-size:14px; color:#64C3D3; padding:0 19px;}
.personal_wish a{ padding:0 35px;}
.personal_gl{ width:100%; height:38px; margin-top:24px;}
.personal_gl li{ width:225px; height:38px; background:#EFEFEF;margin-left:19px; float:left; text-align:center; line-height:38px;}
.personal_gl li a{color:#42bacc; font-size:16px;}
/*个人主页2--订单管理*/
.geren2_order{ width:690px; margin:0 auto; height:auto; border:1px solid #EBEBEB; border-bottom:0px; margin-top:21px; margin-bottom:312px;}
.geren2_order dt,.geren2_order dd{ width:100%; line-height:44px; text-align:center; overflow:hidden;}
.geren2_order dt{ background:#EFEFEF;color:#64C3D3;border-bottom:1px solid #EBEBEB;}
.geren2_order dt div,.geren2_order dd div{ float:left; font-size:16px; width:20%; height:44px;}
.geren2_order dd{ background:#FAFAFA; border-bottom:1px solid #EBEBEB; height:54px; line-height:54px;}
.geren2_order dd img{ margin-top:5px;}

/*个人主页3--消息中心*/
.personal_message li{background:#42BACC;}
.personal_message li a{ color:#fff;}
.personal_message_deatils{ width:90%; margin:0 auto; margin-bottom:150px;}
.personal_message_deatils li{ height:80px; border-bottom:1px solid #EBEBEB; line-height:80px; font-size:14px;}
.personal_message_deatils li div{ float:left;}
.personal_message_deatils li div img{ margin:20px 12px 0;}
.personal_message_deatils li div.personal_message_wz{ line-height:20px;}
.personal_message_deatils li div.personal_message_wz p{ font-size:14px; margin-top:22px;}
.personal_message_deatils li div.personal_message_wz span{ font-size:12px;}
/*个人主页4--基本信息*/
.others_right h3{ width:95%; margin:0 auto; border-bottom:1px solid #42BACC; line-height:40px; font-weight:normal; font-size:16px; color:#42BACC; margin-top:10px;}
.basic_xinxi{ width:95%; margin:0 auto; height:auto;}
.basic_xinxi li{ width:100%; height:28px; margin-top:22px; overflow:hidden;}
.basic_xinxi li div{ float:left; line-height:28px;}
.basic_xinxi li .basic_xinxi_01{ width:103px; background:#EFEFEF; text-align:center; line-height:28px; font-size:16px; color:#64C3D3;}
.basic_xinxi li .basic_xinxi_02{width:498px; background:#FAFAFA; text-align:left; line-height:25px; font-size:14px; color:#64C3D3; border:1px solid #EFEFEF; height:28px;}
.basic_xinxi li .basic_xinxi_02 input{ width:100%; height:100%; background:none; border:none;background:#FAFAFA no-repeat 0 0 scroll; outline:medium; color:#000; font-size:16px; padding-left:30px; font-family: "微软雅黑", "Microsoft YaHei", serif;}
.basic_xinxi li .basic_xinxi_03{  font-size:14px; text-align:right; width:110px;}
.basic_xinxi li .basic_xinxi_03 a{color:#FFB867; text-decoration:underline;}
.basic_xinxi li .basic_xinxi_022 label{ width:120px; display:block; float:left;}
.basic_xinxi li .basic_xinxi_022 input{ width:15px; height:15px; margin-left:33px; margin-right:5px; margin-top:5px; float:left;}
.basic_xinxi li .basic_xinxi_022 input span{ display:block; float:left;}
.basic_xinxi li .basic_xinxi_022 input.man{ margin-left:70px;}
.others_right .button{ width:178px; height:33px; background:#42BACC; line-height:33px; text-align:center; color:#fff; border:none; margin:22px auto; display:block; font-size:16px; letter-spacing:10px; font-family: "微软雅黑", "Microsoft YaHei", serif;cursor:pointer;}
/*账户绑定*/
.binding{ width:102%; margin:0 auto; height:500px;}
.binding li{ width:225px; height:205px; background:#EFEFEF; margin-top:23px; float:left; margin-left:20px; text-align:center;}
.binding li:hover{ background:#fafafa;}
.binding li h6{ font-size:16px; font-weight:normal; margin:17px auto 20px auto;}
.binding li div{width:75px; height:75px;  margin:0 auto;}
.binding li div.sina{ background:url(../images/gray_sina.png) no-repeat center;}
.binding li div.register_photographer { background:url(../images/gray_qq.png) no-repeat center;}
.binding li div.wx{ background:url(../images/gray_wx.png) no-repeat center;}
.binding li div.ipone{ background:url(../images/gray_ipone.png) no-repeat center;}
.binding li div.xinxi{ background:url(../images/gray_xinxi.png) no-repeat center;}
.binding li:hover div.sina{background:url(../images/blue_sina.png) no-repeat center;}
.binding li:hover div.register_photographer {background:url(../images/blue_qq.png) no-repeat center;}
.binding li:hover div.wx{background:url(../images/blue_wx.png) no-repeat center;}
.binding li:hover div.ipone{background:url(../images/blue_ipone.png) no-repeat center;}
.binding li:hover div.xinxi{background:url(../images/blue_xinxi.png) no-repeat center;}

.binding li p{ width:100%; text-align:center; font-size:16px; color:#42bacc; height:30px; visibility:hidden;}
.binding li p.block{ visibility:inherit}
.binding li button{ width:82px; height:28px; line-height:28px; letter-spacing:3px;background:#42BACC; border:none; color:#fff; font-family: "微软雅黑", "Microsoft YaHei", serif;font-size:16px; cursor:pointer; margin-top:0px;}

.others_right_top{ border:1px solid #EDEDED;}
.others_right_bottom{ margin-top:30px;border:1px solid #EDEDED;}
/*摄影师页面*/
.me_works{ width:100%; height:auto; border:1px solid #EBEBEB;color:#64C3D3;line-height:45px; }
.me_works h5{ border-bottom:1px solid #EBEBEB; text-align:center; font-size:18px; font-weight:normal;}
.me_works div{ text-align:center;font-size:16px;}
.me_works div a{ color:#64C3D3;}
.me_service dt div{ width:25%; text-align:left; text-indent:2em;font-size:16px;}
.me_service dd div{ width:25%; font-size:14px; text-align:left; text-indent:2.2em; color:#868686;}

/*搜索页面*/
.search_top{ width:100%; height:auto; border:1px solid #ECECEC; margin-top:31px; }
.search_top_head{ width:100%; height:75px; border-bottom:1px solid #ECECEC;clear:both}
.search_top_head h6{ width:124px; float:left;text-align:right; line-height:75px; font-weight:normal; font-size:18px; float:left;}

.search_top_concet{width:100%; height:75px; border-bottom:1px solid #ECECEC;clear:both}
.search_top_concet h6{ width:124px; text-align:right; line-height:75px; font-weight:normal; font-size:18px; float:left;}
.search_top ul.shooting_style{ float:left; font-size:14px; color:#8f8f8f; margin-left:36px; height:auto;}
.search_top ul.shooting_style1{ position:relative; z-index:10;}
.search_top ul.shooting_style li{ width:252px; height:auto; border:1px solid #ccc; background:#F2F2F2;border-radius:3px; margin-top:18px; line-height:36px; text-indent:20px; float:left; margin-right:8px; cursor:pointer; position:relative;}
.search_top ul.shooting_style li input{ float:right; margin-right:16px; margin-top:12px; border:none;}
.search_top ul.shooting_style li em{ display:block;float:right; width:15px; height:15px; border:1px solid #ccc; background:#fff; text-align:center; text-indent:0px; margin-right:16px; margin-top:10px; cursor:pointer;}
.search_top ul.shooting_style li em img{ margin-top:3px; margin-left:2px; display:none;}
.search_top button{ width:200px; height:40px; margin:10px auto; display:block; border:none; background:#42BACC; border-radius:3px;font-family: "微软雅黑", "Microsoft YaHei", serif; color:#fff; font-size:16px; letter-spacing:10px; cursor:pointer;}


.search_top ul.search_time{float:left; font-size:14px; color:#8f8f8f; margin-left:36px;}
.search_top ul.search_time li{ float:left;}
.search_top ul.search_time li input{width:173px; height:36px; margin-top:18px; border:1px solid #ccc; border-radius:3px; padding-left: 10px;}
.search_top ul.search_time li.zhi{ margin:0 5px; line-height:72px;}
.search_top ul.shooting_style li P{float:right;text-indent:0px; margin-right:16px; margin-top:17px; cursor:pointer;}
.search_top ul.shooting_style li dl{ width:252px; height:auto; display:none; position:absolute; background:#F2F2F2;border:1px solid #ccc; border-bottom-left-radius:3px; border-top:none;border-bottom-right-radius:3px; top:34px; left:-1px; z-index:10000;}
.search_top ul.shooting_style li dl dd{ border:none; line-height:30px; margin-top:5px;}

.search_bottom{ width:100%; background:#FAFAFA; height:auto; margin:30px 0; padding-bottom:20px;}
.search_more{ padding-top:20px; border-bottom:none; height:30px; line-height:30px;}
.search_more h4{ display:inline; line-height:38px; background:#FFFFFF; border:1px solid #CCCCCC; border-radius:3px; text-align:center; text-indent:0px; font-size:14px; padding:0 10px; margin-left:20px;}
.search_more div{ margin-top:6px;}
.search_more div a{ padding-right:10px; color:#8f8f8f;}
.search_bottom ul{ width:100%; margin:0 auto; overflow:hidden;}
.search_bottom ul li{ margin-left:20px; text-align:center; width:226px; background:#fff; float:left; margin-top:25px;}
.search_bottom ul li h5{ font-weight:normal; font-size:14px; margin-top:10px;}
.search_bottom ul li p{ margin:10px 0;}
.search_bottom ul li .img_left{ float:left; text-align:left; margin-left:10px;}
.search_bottom ul li .img_right h5{ visibility:hidden;}
.search_top ul.search_time li input.serach_txt{ width:80px; color:#999; text-indent:0.5em;}


.bowen{ overflow:hidden; width:100%; margin:0 auto; position:relative; border-bottom:1px solid #ddd;}
.bowen .bowen_touxiang{ float:left; width:60px;}
.bowen .bowen_touxiang img{ margin-left:10px; margin-top:15px;}
.bowen_xiangqing{ float:left; margin-left:15px; width:650px;}
.bowen_xiangqing .shouqi{ display:none;}
.bowen_xiangqing h5{ font-family:Arial, Helvetica, sans-serif; font-weight:700; margin-top:15px; font-size:14px;}
.bowen_xiangqing h5 a{ color:#42BACC;}
.bowen_xiangqing p{ font-size:14px; margin:5px 0;color:#333; width:100%;}
.bowen_xiangqing p span{ display:none;}
.bowen_xiangqing p a{ color:#42BACC; font-size:14px; display:block; font-family:"宋体"; margin:5px 0;}
.bowen_xiangqing .bowen_img{ margin-top:5px; width:70%;}
.bowen_xiangqing .bowen_img img{ margin-top:4px;}
.bowen_xiangqing .bowen_time{ margin:10px 0; color:#999;}
.bowen_xiangqing .bowen_time a{ color:#999;}
.bowen_xiangqing .bowen_time a:hover{ color:#42BACC;}
.bowen_xiangqing .pinglun{ width:100%; background:#eee; height:auto; border-radius:5px; line-height:28px; padding-bottom:5px;}
.bowen_xiangqing .pinglun p{ position:relative; top:-8px; left:20px; margin:0;}
.bowen_xiangqing .pinglun span{ display:block; text-indent:1em; font-size:15px; color:#333333;}
.bowen_xiangqing .pinglun span a{ color:#42BACC;}
.bowen ul{ width:100%; height:40px; border-top:1px solid #F2F2F5; margin-top:15px;border-bottom:1px solid #F2F2F5; margin-bottom:15px;}
.bowen ul li{ float:left; width:50%; text-align:center; line-height:25px; font-size:13px;color:#808080; border-right:1px solid #D9D9D9; height:25px; margin-top:8px;}
.bowen ul li a span{ margin-left:2px;}
.bowen ul li a:hover{ color:#42BACC;}
.la{ position:absolute; top:8px; right:12px; cursor:pointer; width:21px; height:18px;}
.la_block{ width:83px; height:auto; box-shadow:0 0 5px #ccc; position:absolute; right:35px; top:25px; display:none;  background:#fff;}
.la_block a{ display:block; line-height:30px; text-indent:1em;}
.la_block a:hover{ color:#42BACC;}


.demo{width:1000px;margin:0 auto;}

/* item_list */
.item_list{position:relative;padding:0 0 50px;}
.item{width:300px;background:#FAFAFA;overflow:hidden;margin:15px 0 0 0;border-radius:4px 4px 4px 4px;box-shadow:0 1px 3px rgba(34, 25, 25, 0.2); float:left;}
.item_t{padding:10px 8px 0;}
.item_t .img{background-color:#FFFFFF;margin:0 auto;position:relative;}
.item_t .img a{display:block;}
.item_t .img a:hover{background:#000;}
.item_t .img a:hover img{filter:alpha(opacity=80);-khtml-opacity:0.8;opacity:0.8;-webkit-transition:all 0.3s ease-out;-khtml-transition:all 0.3s ease-out;}
.item_t .price{position:absolute;bottom:10px;right:0px;background-color:rgba(0, 0, 0, 0.2);color:#FFF;filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#33000000, endcolorstr=#33000000);}
.item .btns{display:none;}
.img_album_btn{top:0px;right:0px;position:absolute;background:#ff6fa6;color:#ffffff;height:20px;line-height:20px;width:56px;border-radius:3px;}
.img_album_btn:hover{color:#fff;}
.item_t .title{padding:12px 0;line-height:18px; text-align:center; font-size:16px;}
.item_b{padding:10px 8px;}
.item_b .items_likes .like_btn{background:url("../style/css/style/images/img/fav_icon_word_new_1220.png") no-repeat;display:block;float:left;height:23px;width:59px;margin-right:5px;}
.item_b .items_likes em{line-height:23px;display:block;float:left;padding:0px 6px;color:#FF6699;font-weight:800;border:1px solid #ff6fa6;border-radius:3px;}

.item_t .title h5{ font-size:20px; font-weight:normal; width:90%; margin:0 auto; border-bottom:1px solid #ebebeb; line-height:50px;padding-bottom:15px;}
.item_t .title h5 span{ margin-left:10px;}
.item_t .title dl{ width:100%; height:auto; margin-top:20px;}
.item_t .title dl dt{ float:left; width:70px; height:60px;line-height:25px;}
.item_t .title dl dd{ float:left; line-height:25px; width:70px; text-align:left;}
/* more */
#more{display:block;margin:10px auto 20px;}

/* infscr-loading */
#infscr-loading{bottom:-10px;left:45%;position:absolute;text-align:center;height:20px;line-height:20px;z-index:100;width:120px;}

/* page */
.page{display:none;font-size:18px;height:60px;text-align:center;margin:20px 0 0 0;}
.page_num a,.page_num span{margin:0 2px;background:url("../images/img/page.png") no-repeat;display:inline-block;width:30px;height:28px;line-height:26px;overflow:hidden;}
.page_num a{background-position:-65px 0;color:#42BACC;overflow:hidden;}
.page_num .prev{background-position:1px -33px;}
.page_num .unprev{background-position:1px 0;cursor:default;}
.page_num .next{background-position:-32px 0;}
.page_num .unnext{background-position:-32px -33px;cursor:default;}
.page_num .current{background-position:-99px 0;color:#FFFFFF;}
.page_num .etc{background-position:-172px 8px;}



.right_qie{ width:1000px; height:auto; margin-top:30px;}
.work_h5{ font-size:24px; color:#868686; text-align:center; font-weight:normal; width:1000px; margin:50px auto 20px;}
.work_wz{ width:1000px; height:auto; border-top:1px solid #EBEBEB; margin:0 auto; overflow:hidden;}
.work_wz h6{ font-size:18px; color:#868686;font-weight:normal; margin-top:25px;}
.work_wz p{ font-size:14px; margin-top:18px;}
.work_wz_left{ float:left; width:10%;}
.work_wz_left img{ margin-top:20px;}
.work_wz_right{ float:right; width:88%;}
/*切换*/
.cl:after {visibility: hidden;display: block;font-size: 0;content: " ";clear: both;height: 0}
.cl {zoom: 1}
.successlunbo {width:1100px;margin:0 auto 45px;}
/* sildes css begin */
.control {width: 1000px;height:750px;display: block;position: absolute;top: 0;left: 0; margin:0 auto;}
.change li {width: 1000px;text-align: center}
/* 图片垂直居中,不是很准确 */
.change li .imgWrap {display: table-cell;width:1000px;height:500px;cursor: pointer;*font-size: 500px;}
.change li img {width:1000px;height:550px;vertical-align: middle;margin-top:20px;}
/* 描述部分 */
.change li .textDesc {width: 100%;height: 50px;position: absolute;left: 0;top:450px;text-align: left; display:none;}
.change li .opacity {width: 100%;height: 50px;position: absolute;left: 0;bottom:-0px;background: #ECECEC; display:none;}
.change li .title {padding:0px 15px 0;color: #666666;font-size: 14px;line-height:30px;float:left; display:none;}
.change li .title a {color: #666; font-size:25px;}
.change li .text {color: #666; font-size:25px;float:left;}
/*.change li .text{color:#b7b7b7;line-height:18px;padding:5px 15px;font-size:12px;}*/
/* 翻页按钮 */
.ssprev,.ssnext {width:50%;height:560px;position: absolute;color: #FFF;font-size: 14px;z-index: 9;font-weight: bold;cursor: pointer;outline: none}
.ssprev span,.ssnext span {display: none;}
.ssprev {left:10px;background: url(../images/works_ico1.png) no-repeat center left;_filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="../images/arrows_01.png");_background: none; opacity:1;}
.ssnext {right:10px;background: url(../images/works_ico2.png) no-repeat center right;_filter: progid: DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=crop, src="../images/arrows_02.png");
_background: none;opacity:1;}
.ssprev:hover{ opacity:0.5}
.ssnext:hover{ opacity:0.5}
/* 分页 */
.pageClass {text-align: center;z-index: 9;position: absolute;top: 50px;padding-top: 10px;}
.pageClass a {display: inline-block;width: 10px;height: 10px;margin: 0 3px;border: 1px solid #bebebe;background: #bebebe;border-radius: 5px;outline: none}
.pageClass a span {display: none}
.pageClass a:hover,.pageClass a.cur {border: 1px solid #be230a;background: #be230a}
/* 缩图部分 */
.thumbWrap {clear:both;width:1010px;height:150px;position: absolute;left:50%; margin-left:-505px;top:600px;overflow:hidden;}
.thumbWrap .thumbCont {height: 150px;margin:0px auto 0;position: relative;width:1000px;}
.thumbWrap ul{padding-top:10px;}
.thumbWrap ul li {padding:10px;text-align: center;width:180px;float:left;}
.thumbWrap ul li div {display: table-cell;width:180px;height:111px;cursor: pointer; background:#FAFAFA; box-shadow:0 0 2px #ccc;}
.thumbWrap ul li img {width:180px;height:111px;border:2px solid #ddd; padding:5px;}
.thumbWrap ul li.cur {  width:180px; height:111px;background:url(../images/title_last.png) no-repeat center 2px;}
.thumbWrap ul li.cur img{border:2px solid #0FA5DB; padding:5px;}
/* 缩图按钮 */
.thumbPrev,.thumbNext {width:30px;height: 100px;text-align: center;position: absolute;color: #000;z-index: 9;outline: none; opacity:1;}
.thumbPrev span,.thumbNext span {display: none;}
.thumbPrev {left:10px;bottom:0px;background: url(../images/works_ico3.png) no-repeat;}
.thumbNext {right:0px;bottom:0px;background: url(../images/works_ico4.png) no-repeat;}
.thumbWrap:hover .thumbPrev{ opacity:1;}
.thumbWrap:hover .thumbNext{ opacity:1;}

/*日程管理*/
.all_bg{ width:100%; height:100%; background:#000;filter:alpha(opacity=50); -moz-opacity:0.5; -khtml-opacity: 0.5; opacity: 0.5; position:fixed; top:0px; left:0px; z-index:1000; display:none;}
.all_neirong{ width:100%; height:100%; position:absolute; top:0px; left:0px; z-index:1000; display:none;}
.fixed_time{ width:480px; background:#fff; position:fixed; top:50%; left:50%; margin-left:-240px; margin-top:-220px;}
.fixed_time_img{ position:absolute; right:5px; top:5px; cursor:pointer;}
.fixed_time h5{ border-bottom:1px solid #ccc; margin:0; line-height:50px; font-size:19px; position:relative;}
.fixed_time h5 p.prev{ position:absolute; left:80px; top:18px; cursor:pointer;}
.fixed_time h5 p.next{ position:absolute; right:80px; top:18px;cursor:pointer;}
.fixed_time_shuom{ width:100%; height:auto; line-height:50px; border-bottom:1px solid #ccc; font-size:19px; color:#42BACC; text-align:center;}
.fixed_time button{ width:120px; height:40px; background:#42BACC; display:block; margin:10px auto; border:none;font-size:19px; color:#fff; font-family: "微软雅黑", "Microsoft YaHei", serif; border-radius:4px; cursor:pointer;}
.fixed_time dl{ width:96%; height:auto; overflow:hidden; margin:0 auto; font-size:19px; line-height:50px;}
.fixed_time dl dt{ width:100%;overflow:hidden;}
.fixed_time dl dt a{ width:14.2%; text-align:center; display:block; float:left;}
.fixed_time dl dt a:first-child{ color:#52BECE;}
.fixed_time dl dt a:last-child{ color:#52BECE;}
.fixed_time dl dd{ width:100%; line-height:60px; overflow:hidden;}
.fixed_time dl dd a span{ width:30px; height:30px; background:#fff; display:block; margin:0 auto; border-radius:
50%; line-height:30px; margin-top:15px;}
.fixed_time dl dd a{ width:14.2%; text-align:center; display:block; float:left;}
.fixed_time dl dd a:first-child{ color:#52BECE;}
.fixed_time dl dd a:last-child{ color:#52BECE;}

.basic_xinxi_02 select{ border:none; height:28px; line-height:28px; background:#FAFAFA; padding-left:27px; font-size:16px; font-family: "微软雅黑", "Microsoft YaHei", serif; padding-right:50px;}
.basic_xinxi li .basic_xinxi_0222{ background:none; border:none;}
.shangchuang{ width:100%; height:auto; background:#FAFAFA; text-align:center; padding-bottom:30px;}
.shangchuang ul{ width:98%; margin:0 auto; padding-top:30px; overflow:hidden;}
.shangchuang ul li{ float:left; margin-left:13px; position:relative;}
.shangchuang_more{ margin-top:20px;}
.shangchuang h1{ font-size:24px; color:#cccccc; font-weight:normal;}
.baocun{ width:100%; margin:0 auto}
.baocun button{ width:170px; height:35px; background:#42BACC; border:none; color:#fff; font-family: "微软雅黑", "Microsoft YaHei", serif; font-size:20px; margin:0 auto; display:block; margin-top:30px; letter-spacing:10px; cursor:pointer;}

.service_me{ width:100%; height:auto; overflow:hidden; margin-bottom:20px;}
.service_me ul{ width:690px; margin:0 auto;}
.service_me ul li{ width:100%; height:auto; border:1px solid #ccc; margin-top:15px; overflow:hidden; padding:10px 0; background:#FAFAFA;}
.service_me ul li h6{ font-weight:normal; font-size:18px; margin-left:20px; color:#42BACC;}
.service_me ul li .service_me_left{ font-size:14px; margin-top:5px; float:left; line-height:23px; margin-left:20px;}
.service_me ul li .service_me_right{ float:right; padding-right:10px; font-size:14px;}

/*快速预定弹出框*/
.yuding{ width:540px; margin-left:-270px; margin-top:-300px;}
.yuding .yuding_ul{ margin-bottom:30px;}
.yuding_ul li{ width:100%; margin:0 auto; margin-top:15px;color:#42BACC; font-size:16px;}
.yuding_ul li p{ width:80px; float:left; color:#42BACC; font-size:16px; text-align:right; margin-right:15px; line-height:32px;}
.yuding_ul li select{ width:102px; height:32px; background:#FAFAFA; color:#000; font-size:16px; border:1px solid #E3E3E3; margin:0 5px; text-indent:1.5em; line-height:32px;font-family: "微软雅黑", "Microsoft YaHei", serif; text-align:center;}
.yuding_ul li select.yuding_add{ width:120px; text-indent:1em;}
.yuding_ul li input[type=text]{ width:390px; height:32px;  background:#FAFAFA; color:#000;line-height:32px; border:1px solid #E3E3E3; margin-left:5px;}
.yuding_ul li div{ width:122px;height:32px;  background:#FAFAFA;color:#000;line-height:32px; border:1px solid #E3E3E3; float:left; margin:0 5px; text-align: center;}
.yuding_ul li div input{ float:right; margin-top:10px; margin-right:5px; background:#fff; display:block;}
.yuding_ul li textarea{ width:390px; background:#FAFAFA; color:#000;border:1px solid #E3E3E3; margin-left:5px; height:50px;}