{% macro dashboard_nav(page) %}
  <div class="main_head">
    <div class="layer">
      <ul>
        <li {% if page == "dashboard" %}class="curr"{% endif %}>
          <a href="{{ url_for('dashboard') }}">我的中心</a>
        </li>
        <li {% if page == "orders" %}class="curr"{% endif %}>
          <a href="{{ url_for('orders') }}">订单管理</a>
        </li>
        <li {% if page == "messages" %}class="curr"{% endif %}>
          <a href="{{ url_for('messages') }}">消息中心</a>
        </li>
        <li {% if page == "settings" %}class="curr"{% endif %}>
          <a href="{{ url_for('settings') }}">账户设置</a>
        </li>
        <li {% if page == "my_photos" or page == "create_collection" or page == "edit_collection" %}class="curr"{% endif %}>
          <a href="{{ url_for('my_photos') }}">作品管理</a>
        </li>
      </ul>
    </div>
  </div>
{% endmacro %}