{% macro profile_left_widget(user, current_user) %}
  <!--个人简介 strat-->
  <div class="others_jj">
    <div class="others_tx">
      {% if user.image is defined and user.image != None %}
        <img src="{{ url_for('images', filename=user.image.path, width=208, height=181, mode='fit') }}"
             alt="{{ user.image.alt }}"/>
      {% else %}
        <img src="{{ url_for('images', filename="big_tx.png", width=208, height=181, mode='fit') }}"/>
      {% endif %}
    </div>
    <div class="zuozhe_name">{{ user.display }}</div>
    <div class="others_xq page_xq">
      {% if user.id == current_user.id %}
        <h5><a href="{{ url_for('settings') }}">编辑个人资料</a></h5>
      {% endif %}
      {% if user.type.code == 'PHOTOGRAPHER_USER' and user.id == current_user.id %}
        <h5><a href="{{ url_for('edit_experience', photographer_id=user.id) }}">编辑摄影经历</a></h5>
      {% else %}
        <h5><a href="{{ url_for('experience', photographer_id=user.id) }}">查看该用户摄影经历</a></h5>
      {% endif %}
    </div>
  </div>
  <!--快速链接 strat-->
  <div class="others_jj">
    <h3>快速链接</h3>

    <div class="others_links">
      <a href="#">帮助中心</a>
    </div>
  </div>
{% endmacro %}
