{% from "macro/enum_value_search_field.html" import enum_value_search_field %}
<div class="search_top">
  <form action="{{ route }}" method="post">
    <input type="hidden" name="category_id" id="category_id" value="{{ category.id or '' }}"/>
    <input type="hidden" name="style_id" id="style_id" value="{{ style.id or '' }}"/>
    {{ enum_value_search_field(category, categories, '拍摄类别', 'category') }}
    {{ enum_value_search_field(style, styles, '拍摄风格', 'style') }}
    <div class="search_top_concet">
      <h6>日期</h6>
      <ul class="search_time">
        <li><label>
          <input type="date" name="min_date" value="{{ min_date or '' }}"/>
        </label></li>
        <li class="zhi">至</li>
        <li><label>
          <input type="date" name="max_date" value="{{ max_date or '' }}"/>
        </label></li>
        <li class="zhi">
          <label>
            <input type="checkbox" name="include_none_date" class="include_none"
                   {% if include_none_date == 'on' %}checked{% endif %}>
            <span class="lose-left">包含日期为空的作品集</span>
          </label>
        </li>
      </ul>
    </div>
    <div class="search_top_concet">
      <h6>拍摄价位</h6>
      <ul class="search_time">
        <li><label>
          <input type="number" class="serach_txt" value="{{ min_price or '' }}" name="min_price"/>
        </label></li>
        <li class="zhi">至</li>
        <li><label>
          <input type="number" class="serach_txt" value="{{ max_price or '' }}" name="max_price">
        </label></li>
        <li class="zhi">
          <label>
            <input type="checkbox" name="include_none_price" class="include_none"
                   {% if include_none_price == 'on' %}checked{% endif %}>
            <span class="lose-left">包含价格为空的作品集</span>
          </label>
        </li>
      </ul>
    </div>
    <button type="submit">搜索</button>
  </form>
</div>
