{% from "security/_macros.html" import render_field_with_errors, render_field %}
<!-- Header start -->
{% block header %}
  <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
  <html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>作品</title>
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css')}}" />
    <script type="text/javascript" src="{{ url_for('static',  filename='js/jquery-1.7.2.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',  filename='js/jquery.sochange.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',  filename='js/n_public.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',  filename='js/public.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',  filename='js/preview.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',  filename='js/jquery.masonry.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',  filename='js/jquery.infinitescroll.js')}}"></script>
    <script type="text/javascript" src="{{ url_for('static',  filename='js/works.js')}}"></script>
    {% block header_tail %}
    {% endblock %}
  </head>
{% endblock %}
<!-- Header end -->

<body>
{% block before_nav %}
{% endblock %}

<!--导航 start -->
{% block navigator %}
<div class="{% block header_bg_css %} header_bg others_header_bg {% endblock %}"></div>
<div class="header">
	<div class="layer">
    	<div class="logo"><a href="{{ url_for('index') }}"><img src="../../static/images/logo.png" /></a></div>
        <ul class="nav">
        	<li><a href="{{ url_for('works') }}">摄影作品</a></li>
          <li><a href="{{ url_for('photograph') }}">摄影师</a></li>
        </ul>
        <div class="header_right">
            <div class="search">
                <label><input type="text" /></label>
                <label><button onclick="location='{{ url_for('search') }}'"><img src="../../static/images/serach_small.png" /></button></label>
            </div>
          {% if current_user.is_authenticated() %}
            <div class="logout">
                <a href="{{ url_for('security.logout') }}">退出</a>
            </div>
          {% else %}
            <div class="login">
                <a href="#" class="denglu">登录</a>|<a href="#" class="zhuce">注册</a>
                <div class="login_fixed">
                    <div class="fixed_login_op"></div>
                    <div class="fixed_login">
                      <div class="fixed_login_head"><a href="#" id="register_link_in_login">注册</a>登录</div>
                      <form action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                        <ul>
                            {{ login_user_form.hidden_tag() }}
                            <li><label for="email">Email:</label></li>
                            <li>
                              <input id="email" name="email" type="text" value="" class="txt">
                            </li>
                            <li><label for="password">密码:</label></li>
                            <li>
                              <input id="password" name="password" type="password" value="" class="txt">
                            </li>
                            <li>
                              <input id="remember" name="remember" type="checkbox" value="y" class="checkbox">
                              <label for="remember">记住我</label>
                            </li>
                            <li><button>登录</button><a href="#" class="wangji">忘记密码？</a></li>
                            <li class="line"><span>或者</span></li>
                            <li>使用你的社交账户登录:</li>
                            <li class="hezuo"><a href="#">微博登录</a>|<a href="#">QQ登录</a>|<a href="#">人人网</a></li>
                        </ul>
                      </form>
                    </div>
                </div>
                <div class="zhuce_fixed">
                	<div class="fixed_zhuce_op"></div>
                    <div class="fixed_zhuce">
                    	<ul>
                        	<li class="iphone"><a href="#">使用手机注册</a></li>
                            <li class="qq"><a href="#">使用QQ注册</a></li>
                            <li class="line"><span>或者</span></li>
                            <li class="youxiang"><a href="#">使用邮箱注册</a></li>
                            <li class="green">注册即代表我同意<a href="#">服务条款</a>、<a href="#">隐私政策</a>、<a href="#">隐私政策</a>及<a href="#">隐私政策</a></li>
                        </ul>
                        <p>已经是会员?<a id='login_link_in_register' href="#">登录</a></p>
                    </div>
                </div>
            </div>
          {% endif %}
            <div class="help"><a href="#">帮助</a></div>
            <div class="header_last"><a href="{{ url_for('create_collection') }}">发布您的作品</a></div>
        </div>
    </div>
</div>
{% endblock %}
<!--导航 end-->

<!--main start-->
<div class="main">
  {% block main %}
  {% endblock %}
</div>
<!--main end-->

<!-- footer start -->
{% block footer %}
{% endblock %}
<!-- footer end -->

<!--版权 start-->
{% block copyright %}
<div class="copyright">Copyright© 2007-2014 摄影有限公司. All Rights Reserved. <a href="{{ url_for('user.index_view') }}">管理后台</a></div>
{% endblock %}
<!--版权 end-->

{% block before_body_end %}
{% endblock %}
</body>
</html>
