{% extends 'layout/front_layout.html' %}
{% from "macro/profile_left_widget.html" import profile_left_widget %}
{% from "macro/request_shortcut.html" import request_shortcut %}
<!--main start-->
{% block main %}
  {{ super() }}
  <div class="layer">
    <!--other_left strat-->
    <div class="others_left">
      <!--个人简介 strat-->
      {% block dashboard_left_widget %}
        {{ profile_left_widget(photographer, current_user) }}
      {% endblock %}
      <!--日历 strat-->
      <div class="others_jj">
        <h4>预定</h4>

        <div class="other_time">
          <div class="time_head">
            <h6>档期:</h6>

            <p>拍摄人数:</p>
          </div>
          <div class="time_select">
            <select>
              <option>2015-06-29</option>
              <option>2015-06-29</option>
              <option>2015-06-29</option>
            </select>
            <select>
              <option>2015-06-29</option>
              <option>2015-06-29</option>
              <option>2015-06-29</option>
            </select>
            <select class="time_num">
              <option>1人</option>
              <option>1人</option>
              <option>1人</option>
            </select>
          </div>
          <div class="time_other">
            <div class="time_other_left">￥492*3晚</div>
            <div>￥1469</div>
            <div class="time_other_left">服务费</div>
            <div>￥177</div>
            <div class="time_other_left">总价</div>
            <div>￥1646</div>
          </div>
          <button>快速预定</button>
        </div>
      </div>
    </div>
    {{ request_shortcut(photographer, True, True) }}
    <div class="others_right">
      <div class="others_right_top">
        <div class="others_right_head">
          <h4>他的动态</h4>
        </div>
        {% for c in collections %}
          <div class="bowen">
            <div class="bowen_touxiang">
              {% if photographer.image is defined and photographer.image != None %}
                <img src="{{ url_for('images', filename=photographer.image.path, width=55, height=56, mode='fit') }}"
                     class="md-circular">
              {% else %}
                <img src="{{ url_for('images', filename="big_tx.png", width=55, height=56, mode='fit') }}"
                     class="md-circular"/>
              {% endif %}
            </div>
            <div class="bowen_xiangqing">
              <h5>发布新拍摄作品系列：{{ c.name or '' }}</h5>

              <p>
                {{ c.introduce|substring("left", 90) }}<span>{{ c.introduce|substring("right", 90) }}</span>
                {% if c.introduce|length > 90 %}
                  <a href="javascript:" class="all">查看全部</a>
                  <a href="javascript:" class="shouqi">收起</a>
                {% endif %}
              </p>

              <div class="bowen_img">
                {% for photo in c.photos %}
                  <a href="{{ url_for('collection_details', collection_id=c.id) }}">
                    <img src="{{ url_for('images', filename=photo.image.path, width=80, height=70, mode='crop') }}"/>
                  </a>
                {% endfor %}
              </div>
              <div class="bowen_time">
                <a href="{{ url_for('collection_details', collection_id=c.id) }}">{{ c.date or '' }} 发布新作品集</a>
              </div>
              <div class="pinglun">
                <p><img src="../static/images/top_ico.png"/></p>
                <span><a href="#">熊贝贝</a>：无论如何，我很喜欢你发布的内容，机油咯亲~~</span>
                <span><a href="#">Jason_Zhang </a>回复<a href="#"> 熊贝贝</a>：谢谢你的支持，我们一起加油哈！</span>
              </div>
              <div class="clear"></div>
              <ul>
                <li><a href="#">转发</a></li>
                <li><a href="#">评论<span>3333</span></a></li>
                <li><a href="#">分享<span>3333</span></a></li>
                <li class="zan1" title="赞"><a href="#">1500</a></li>
              </ul>
            </div>
            <div class="la"><img src="../static/images/la.png" width="21" height="18"/></div>
            <div class="la_block">
              <a href="#">帮上头条</a>
              <a href="#">举报</a>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <!--other_right end-->
  </div>
{% endblock %}
<!--main end-->