{% extends 'layout/front_layout.html' %}

{% block main %}
  {{ super() }}
	<div class="layer">
    	<!--other_left strat-->
    	<div class="others_left">
        	 <!--个人简介 strat-->
        	<div class="others_jj">
            	<div class="others_tx"><img src="../static/pic/big_tx.png" /></div>
                <div class="zuozhe_name">Name</div>
                <div class="about"><a href="#">官方简介</a></div>
                <div class="others_xq">
                	<a href="#">擅长领域</a>
                    <a href="#">服务客户</a>
                </div>
            </div>
            <!--日历 strat-->
            <div class="others_jj">
            	<h4>ta的日程</h4>
                <div class="other_time">
                	<h5>当周日程（5月）</h5>
                    <ul>
                    	<li>
                        	<a href="#">SUN</a>
                            <a href="#">MON</a>
                            <a href="#">TUE</a>
                            <a href="#">WED</a>
                            <a href="#">THU</a>
                            <a href="#">FRI</a>
                            <a href="#">SAT</a>
                        </li>
                        <li>
                        	<a href="#">1</a>
                        	<a href="#">2</a>
                            <a href="#">3</a>
                            <a href="#">4</a>
                            <a href="#">5</a>
                            <a href="#">6</a>
                            <a href="#">7</a>
                        </li>
                        <li>
                        	<a href="#">8</a>
                            <a href="#">9</a>
                            <a href="#">10</a>
                        	<a href="#">11</a>
                            <a href="#">12</a>
                            <a href="#">13</a>
                            <a href="#">14</a>
                        </li>
                        <li>
                        	<a href="#">15</a>
                        	<a href="#">16</a>
                            <a href="#">17</a>
                            <a href="#">18</a>
                            <a href="#">19</a>
                            <a href="#">20</a>
                            <a href="#">21</a>
                        </li>
                        <li>
                        	<a href="#">22</a>
                            <a href="#">23</a>
                            <a href="#">24</a>
                            <a href="#">25</a>
                            <a href="#">26</a>
                            <a href="#">27</a>
                            <a href="#">28</a>
                        </li>
                        <li>
                        	<a href="#">29</a>
                            <a href="#">30</a>
                            <a href="#">31</a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                            <a href="#"></a>
                        </li>
                    </ul>
                </div>
                <div class="other_time_lis">
					<p>
                		<a href="#"><img src="../static/images/left_pic.png" /></a>
                    	<a href="#"><img src="../static/images/right_pic.png" /></a>
                    </p>
                </div>
            </div>
            <!--预定 strat-->
            <div class="others_jj">
            	<h4>预定</h4>
                <div class="other_time">
                	<div class="time_head">
                    	<h6>档期:</h6>
                        <p>拍摄人数:</p>
                    </div>
                    <div class="time_select">
                    	<select>
                        	<option>2015-06-29</option>
                            <option>2015-06-29</option>
                            <option>2015-06-29</option>
                        </select>
                        <select>
                        	<option>2015-06-29</option>
                            <option>2015-06-29</option>
                            <option>2015-06-29</option>
                        </select>
                        <select class="time_num">
                        	<option>1人</option>
                            <option>1人</option>
                            <option>1人</option>
                        </select>
                    </div>
                    <div class="time_other">
                    	<div class="time_other_left">￥492*3晚</div>
                        <div>￥1469</div>
                        <div class="time_other_left">服务费</div>
                        <div>￥177</div>
                        <div class="time_other_left">总价</div>
                        <div>￥1646</div>
                    </div>
                    <button class="yuding_btn">快速预定</button>
                </div>
            </div>
            <!--快速链接 strat-->
            <div class="others_jj">
            	<h3>快速链接</h3>
                <div class="others_links">
                	<a href="#">即将开始的旅程</a>
                    <a href="#">在携程出租</a>
                    <a href="#">在携程旅行</a>
                    <a href="#">帮助中心</a>
                </div>
            </div>
        </div>
        <!--other_left end-->
        <!--other_right strat-->
        <div class="others_right">
        	<div class="others_right_top">
            	<div class="others_right_head">
                    <h4>他的博文</h4>
                    <div><a href="{{ url_for('blog') }}">查看更多</a></div>
                </div>
                <div class="bowen">
                	<div class="bowen_touxiang"><a href="#"><img src="../static/images/tx1.png" /></a></div>
                    <div class="bowen_xiangqing">
                    	<h5><a href="#">你希望你的男票是哪种身材...</a></h5>
                        <p>天蝎给人的感觉就是贼要强！她们最不怕有人跟自己较劲，甭管明的暗的她们都玩得起，这种天生自带的女王气场一般人真学不来。但是你要知道，女王并不是理所应当的天不怕地不怕，很多时候她们反而比小公主更需要人疼。<span>天蝎给人的感觉就是贼要强！她们最不怕有人跟自己较劲，甭管明的暗的她们都玩得起，这种天生自带的女王气场一般人真学不来。但是你要知道，女王并不是理所应当的天不怕地不怕，很多时候她们反而比小公主更需要人疼。</span>
                        <a href="javascript:;" class="all">查看全部</a>
                        <a href="javascript:;" class="shouqi">收起</a>
                        </p>
                        <div class="bowen_img">
                        	<a href="#"><img src="../static/pic/photo_11.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_10.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_09.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_08.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_07.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_06.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_05.png" width="80" height="70"/></a>
                        </div>
                        <div class="bowen_time">
                        	<a href="#">今天14:01</a> 来自 <a href="#">微博 weibo.com</a>
                        </div>
                        <div class="pinglun">
                        	<p><img src="../static/images/top_ico.png" /></p>
                        	<span><a href="#">熊贝贝</a>：无论如何，我很喜欢你发布的内容，机油咯亲~~</span>
                            <span><a href="#">Jason_Zhang </a>回复<a href="#"> 熊贝贝</a>：谢谢你的支持，我们一起加油哈！</span>
                        </div>
                        <div class="clear"></div>
                        <ul>
                            <li><a href="#">转发</a></li>	
                            <li><a href="#">评论<span>3333</span></a></li>
                            <li><a href="#">分享<span>3333</span></a></li>
                            <li class="zan1" title="赞"><a href="#">1500</a></li>
                        </ul>
                    </div>
                    <div class="la"><img src="../static/images/la.png" width="21" height="18"/></div>
                    <div class="la_block">
                    	<a href="#">帮上头条</a>
                        <a href="#">举报</a>
                    </div>
                </div>
                <div class="bowen">
                	<div class="bowen_touxiang"><a href="#"><img src="../static/images/tx1.png" /></a></div>
                    <div class="bowen_xiangqing">
                    	<h5><a href="#">你希望你的男票是哪种身材...</a></h5>
                        <p>天蝎给人的感觉就是贼要强！她们最不怕有人跟自己较劲，甭管明的暗的她们都玩得起，这种天生自带的女王气场一般人真学不来。但是你要知道，女王并不是理所应当的天不怕地不怕，很多时候她们反而比小公主更需要人疼。<span>天蝎给人的感觉就是贼要强！她们最不怕有人跟自己较劲，甭管明的暗的她们都玩得起，这种天生自带的女王气场一般人真学不来。但是你要知道，女王并不是理所应当的天不怕地不怕，很多时候她们反而比小公主更需要人疼。</span>
                        <a href="javascript:;" class="all">查看全部</a>
                        <a href="javascript:;" class="shouqi">收起</a>
                        </p>
                        <div class="bowen_img">
                        	<a href="#"><img src="../static/pic/photo_11.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_10.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_09.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_08.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_07.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_06.png" width="80" height="70"/></a>
                            <a href="#"><img src="../static/pic/photo_05.png" width="80" height="70"/></a>
                        </div>
                        <div class="bowen_time">
                        	<a href="#">今天14:01</a> 来自 <a href="#">微博 weibo.com</a>
                        </div>
                        <div class="pinglun">
                        	<p><img src="../static/images/top_ico.png" /></p>
                        	<span><a href="#">熊贝贝</a>：无论如何，我很喜欢你发布的内容，机油咯亲~~</span>
                            <span><a href="#">Jason_Zhang </a>回复<a href="#"> 熊贝贝</a>：谢谢你的支持，我们一起加油哈！</span>
                        </div>
                        <div class="clear"></div>
                        <ul>
                            <li><a href="#">转发</a></li>	
                            <li><a href="#">评论<span>3333</span></a></li>
                            <li><a href="#">分享<span>3333</span></a></li>
                            <li class="zan1" title="赞"><a href="#">1500</a></li>
                        </ul>
                    </div>
                    <div class="la"><img src="../static/images/la.png" width="21" height="18"/></div>
                    <div class="la_block">
                    	<a href="#">帮上头条</a>
                        <a href="#">举报</a>
                    </div>
                </div>
             </div>
        	<div class="others_right_bottom">
                <div class="others_right_head">
                    <h4>作品集</h4>
                    <div>共<span>12</span>个</div>
                </div>
                <ul class="others_works">
                    <li>
                        <a href="{{ url_for('work_details') }}"><img src="../static/pic/works_01.png" /></a>
                        <h2>海</h2>
                        <h6>2015-02-14</h6>
                        <div>
                            <a href="#" class="zan">（0）</a>
                            <a href="#" class="wx">（0）</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{ url_for('work_details') }}"><img src="../static/pic/works_02.png" /></a>
                        <h2>海</h2>
                        <h6>2015-02-14</h6>
                        <div>
                            <a href="#" class="zan">（0）</a>
                            <a href="#" class="wx">（0）</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{ url_for('work_details') }}"><img src="../static/pic/works_03.png" /></a>
                        <h2>海</h2>
                        <h6>2015-02-14</h6>
                        <div>
                            <a href="#" class="zan">（0）</a>
                            <a href="#" class="wx">（0）</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{ url_for('work_details') }}"><img src="../static/pic/works_01.png" /></a>
                        <h2>海</h2>
                        <h6>2015-02-14</h6>
                        <div>
                            <a href="#" class="zan">（0）</a>
                            <a href="#" class="wx">（0）</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{ url_for('work_details') }}"><img src="../static/pic/works_02.png" /></a>
                        <h2>海</h2>
                        <h6>2015-02-14</h6>
                        <div>
                            <a href="#" class="zan">（0）</a>
                            <a href="#" class="wx">（0）</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{ url_for('work_details') }}"><img src="../static/pic/works_03.png" /></a>
                        <h2>海</h2>
                        <h6>2015-02-14</h6>
                        <div>
                            <a href="#" class="zan">（0）</a>
                            <a href="#" class="wx">（0）</a>
                        </div>
                    </li>
                </ul>
                <div class="clear"></div>
                <ul class="other_qie">
                    <li class="curr"></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <!--other_right end-->
    </div>
{% endblock %}

{% block before_body_end %}
<div class="all_bg"></div>
<div class="all_neirong">
	<div class="others_jj fixed_time yuding">
        <div class="other_time">
            <h5>预定<p class="prev"></h5>
            <ul class="yuding_ul">
            	<li>
                    <p>开始时间</p>
                    <select>
                        <option>01</option>
                        <option>02</option>
                    </select>日
                    <select>
                        <option>07</option>
                    </select>月
                    <select>
                        <option>2015</option>
                    </select>年
                </li>
                <li>
                    <p>结束时间</p>
                    <select>
                        <option>15</option>
                    </select>日
                    <select>
                        <option>07</option>
                    </select>月
                    <select>
                        <option>2015</option>
                    </select>年
                </li>
                <li>
                    <p>地点</p>
                    <select class="yuding_add">
                        <option>选择国家</option>
                    </select>
                    <select class="yuding_add">
                        <option>选择省市</option>
                    </select>
                    <select class="yuding_add">
                        <option>选择市区</option>
                    </select>
                </li>
                <li>
                    <p>公司名</p>
                    <input type="text" />
                </li>
                <li>
                    <p>联系人</p>
                    <input type="text" />
                </li>
                <li>
                    <p>联系方式</p>
                    <input type="text" />
                </li>
                <li>
                    <p>拍摄类别</p>
                    <div><label>风格A<input type="checkbox" /></label></div>
                    <div><label>风格B<input type="checkbox" /></label></div>
                    <div><label>风格C<input type="checkbox" /></label></div>
                </li>
                <li>
                    <p>场地</p>
                    <div><label>室内<input type="checkbox" /></label></div>
                    <div><label>室外<input type="checkbox" /></label></div>
                    <div><label>其他<input type="checkbox" /></label></div>
                </li>
                <li>
                    <p>备注</p>
                    <textarea></textarea>
                </li>
            </ul>
        </div>
        <button>确认</button>
        <img src="../static/images/fixed_cuo.png" class="fixed_time_img"/>
    </div>
</div>
{% endblock %}
