{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}

{% block header_tail %}
  <script type="text/javascript">
    $(function () {
      $(".shangchuang_cuo").click(function () {
        $(this).parent("li").css("display", "none");
      });
    });
  </script>
{% endblock %}

{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("create_collection") }}
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <div class="others_right_top">
    <div class="others_right_head">
      <h4>创建我的作品集</h4>
    </div>
    <h3>作品集信息</h3>
    <ul class="basic_xinxi">
      <li>
        <div class="basic_xinxi_01">作品集名称</div>
        <div class="basic_xinxi_02"><input type="text" placeholder=""
                                           value="海的女儿"/></div>
      </li>
      <li>
        <div class="basic_xinxi_01">拍摄类别</div>
        <div class="basic_xinxi_02 basic_xinxi_0222">
          <select>
            <option>类别A</option>
          </select></div>
        <div class="basic_xinxi_03"></div>
      </li>
      <li>
        <div class="basic_xinxi_01">拍摄风格</div>
        <div class="basic_xinxi_02 basic_xinxi_022 basic_xinxi_0222">
          <select>
            <option>风格A</option>
          </select></div>
        <div class="basic_xinxi_03"></div>
      </li>
      <li>
        <div class="basic_xinxi_01">作品集简介</div>
        <div class="basic_xinxi_02"><input type="text"/></div>
      </li>
    </ul>
    <button class="button">保存</button>
  </div>
  <div class="others_right_bottom shangchuang">
    <ul>
      <li><img src="../static/pic/fabu_pic1.png"/><img
          src="../static/images/fabu_cuo.png" class="shangchuang_cuo"/></li>
      <li><img src="../static/pic/fabu_pic1.png"/><img
          src="../static/images/fabu_cuo.png" class="shangchuang_cuo"/></li>
      <li><img src="../static/pic/fabu_pic1.png"/><img
          src="../static/images/fabu_cuo.png" class="shangchuang_cuo"/></li>
    </ul>
    <div class="shangchuang_more"><a href="#"><img
        src="../static/images/fabu_more.png"/></a></div>
    <h1>点击此处上传图片</h1>
  </div>
  <div class="baocun">
    <button>保存</button>
  </div>
{% endblock %}
