{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}
{% block header_tail %}
  <script type="text/javascript">
    $(function () {
      $(".renwu_x").click(function () {
        $(this).parent("li").hide(200);
      });
    });
  </script>
{% endblock %}

{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("dashboard", current_user) }}
{% endblock %}

{% block dashboard_left_widget %}
  {{ super() }}
  {% if current_user.type.code == 'PHOTOGRAPHER_USER' %}
    <div class="others_jj">
      <h3>我的作品与服务</h3>

      <div class="others_links">
        <a href="{{ url_for('create_collection') }}">发布作品</a>
      </div>
    </div>
  {% endif %}
  <!--我的心愿单 strat-->
  <div class="others_jj">
    <h3>我的心愿单</h3>

    <div class="personal_contacts personal_wish">
      <a href="#">点赞</a>|<a href="#">收藏</a>
    </div>
  </div>
  <!--快速链接 strat-->
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <div class="others_right_top">
    <div class="others_right_head">
      <h4>拍摄请求</h4>
    </div>
    <ul class="personal_gl">
      <li><a href="{{ url_for('orders', obj_type='request', status_code='draft') }}">
        未确认{% if draft_requests|length > 0 %}(<span style="color:red">{{ draft_requests|length }}</span>){% endif %}</a>
      </li>
      <li><a href="{{ url_for('orders', obj_type='request', status_code='confirmed') }}">已确认</a></li>
      <li><a href="{{ url_for('orders', obj_type='request', status_code='confirmed') }}">已确认</a></li>
    </ul>
    <br/>
  </div>
  <div class="others_right_bottom">
    <div class="others_right_head">
      <h4>服务订单</h4>
    </div>
    <ul class="personal_gl">
      <li><a href="{{ url_for('orders', obj_type='order', status_code='draft') }}">草稿</a></li>
      <li><a href="{{ url_for('orders', obj_type='order', status_code='paid') }}">已确认</a></li>
      <li><a href="{{ url_for('orders', obj_type='order', status_code='completed') }}">已完成</a></li>
      <li><a href="{{ url_for('orders', obj_type='order', status_code='rated') }}">已评价</a></li>
    </ul>
    <br/>
  </div>
  <div class="others_right_bottom">
    <div class="others_right_head">
      <h4>系统消息</h4>
    </div>
    <ul class="personal_gl">
      <li><a href="{{ url_for('messages', status_code='unread') }}">
        未读{% if unread_msg_size > 0 %}(<span style="color:red">{{ unread_msg_size }}</span>){% endif %}</a>
      </li>
      <li><a href="{{ url_for('messages', status_code='read') }}">已读</a></li>
    </ul>
    <br/>
  </div>
  <div class="others_right_bottom">
    <div class="others_right_head">
      <h4>个人设定</h4>
    </div>
    <ul class="personal_gl">
      <li><a href="{{ url_for('settings') }}">编辑个人信息</a></li>
      {% if current_user.type.code == 'PHOTOGRAPHER_USER' %}
        <li><a href="{{ url_for('edit_experience', photographer_id=current_user.id) }}">编辑摄影经历</a></li>
        <li><a href="{{ url_for('edit_date_status', photographer_id=current_user.id) }}">编辑工作日历</a></li>
      {% endif %}
    </ul>
    <br/>
  </div>
{% endblock %}

{% block before_body_end %}
  <div class="all_bg"></div>
  <div class="all_neirong">
    <div class="others_jj fixed_time">
      <div class="other_time">
        <h5>当周日程（5月）<p class="prev"><img src="../static/images/fixed_left.png"/>
        </p>

          <p class="next"><img src="../static/images/fixed_right1.png"/></p>
        </h5>
        <dl>
          <dt>
            <a href="#">SUN</a>
            <a href="#">MON</a>
            <a href="#">TUE</a>
            <a href="#">WED</a>
            <a href="#">THU</a>
            <a href="#">FRI</a>
            <a href="#">SAT</a>
          </dt>
          <dd>
            <a href="#"><span>1</span></a>
            <a href="#"><span>2</span></a>
            <a href="#"><span>3</span></a>
            <a href="#"><span>4</span></a>
            <a href="#"><span>5</span></a>
            <a href="#"><span>6</span></a>
            <a href="#"><span>7</span></a>
          </dd>
          <dd>
            <a href="#"><span>8</span></a>
            <a href="#"><span>9</span></a>
            <a href="#"><span>10</span></a>
            <a href="#"><span>11</span></a>
            <a href="#"><span>12</span></a>
            <a href="#"><span>13</span></a>
            <a href="#"><span>14</span></a>
          </dd>
          <dd>
            <a href="#"><span>15</span></a>
            <a href="#"><span>16</span></a>
            <a href="#"><span>17</span></a>
            <a href="#"><span>18</span></a>
            <a href="#"><span>19</span></a>
            <a href="#"><span>20</span></a>
            <a href="#"><span>21</span></a>
          </dd>
          <dd>
            <a href="#"><span>22</span></a>
            <a href="#"><span>23</span></a>
            <a href="#"><span>24</span></a>
            <a href="#"><span>25</span></a>
            <a href="#"><span>26</span></a>
            <a href="#"><span>27</span></a>
            <a href="#"><span>28</span></a>
          </dd>
          <dd>
            <a href="#"><span>29</span></a>
            <a href="#"><span>30</span></a>
            <a href="#"><span>31</span></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </dd>
        </dl>
      </div>
      <div class="fixed_time_shuom">按到某日，有颜色背景（即为设置为忙碌）</div>
      <button>确认</button>
      <img src="../static/images/fixed_cuo.png" class="fixed_time_img"/>
    </div>
  </div>
{% endblock %}
