{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}
{% block header_tail %}
  <script type="text/javascript">
    $(function () {
      $(".renwu_x").click(function () {
        $(this).parent("li").hide(200);
      });
    });
  </script>
{% endblock %}

{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("dashboard", current_user) }}
{% endblock %}

{% block dashboard_left_widget %}
  {{ super() }}
  {% if current_user.type.code == 'PHOTOGRAPHER_USER' %}
    <div class="others_jj">
      <h3>我的作品与服务</h3>

      <div class="others_links">
        <a href="{{ url_for('create_collection') }}">发布作品</a>
      </div>
    </div>
  {% endif %}
  <!--我的心愿单 strat-->
  <div class="others_jj">
    <h3>我的心愿单</h3>

    <div class="personal_contacts personal_wish">
      <a href="#">点赞</a>|<a href="#">收藏</a>
    </div>
  </div>
  <!--快速链接 strat-->
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <div class="others_right_top">
    <div class="others_right_head">
      <h4>我的拍摄请求</h4>

      <div><a href="#">更多</a></div>
    </div>
    <ul class="personal_gl">
      <li><a href="#">未确认</a></li>
      <li><a href="#">已确认</a></li>
    </ul>
    <ul class="others_works renwu">
      {% if requests|length > 0 %}
        {% for request in requests %}
          <li>
            <div class="rw">
              <div class="rw_details">
                {% if current_user.type == 'PHOTOGRAPHER_USER' %}
                  <h4>{{ request.requester.display }}请求从 {{ request.start_date.strftime('%m-%d') or '' }}
                    到 {{ request.end_date.strftime('%m-%d') or '' }} 在 {{ request.location or '' }} 进行拍摄</h4>
                {% else %}
                  <h4>请求 {{ request.photographer.display }} 于 {{ request.start_date.strftime('%m-%d') or '' }}
                    到 {{ request.end_date.strftime('%m-%d') or '' }} 在 {{ request.location or '' }} 进行拍摄</h4>
                {% endif %}
                <p>
                  拍摄分类：{{ request.category.display or '' }}， 拍摄风格：{{ request.style.display or '' }}，
                  价格：{{ request.price or '未知' }}，总金额： {{ request.amount or '未知' }}<br>
                  所需镜头： {{ request.lens_needed or '' }}，备注：{{ request.remark or '' }}</p>
                {% if current_user.type == 'PHOTOGRAPHER_USER' %}
                  <div class="rw_button">
                    <button class="gowancheng">确认</button>
                    <button class="zaishuo">无法拍摄</button>
                  </div>
                {% endif %}
              </div>
            </div>
          </li>
        {% endfor %}
      {% endif %}

    </ul>
    <div class="clear"></div>
    <ul class="other_qie">
      <li class="curr"></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="others_right_bottom">
    <div class="others_right_head">
      <h4>我的服务订单</h4>

      <div><a href="#">共12个</a></div>
    </div>
    <dl class="geren2_order me_service">
      <dt>
        {% if current_user.type.code == 'PHOTOGRAPHER_USER' %}
          <div>客户</div>
        {% else %}
          <div>摄影师</div>
        {% endif %}
      <div>类别</div>
      <div>风格</div>
      <div>地点</div>
      <div>时间</div>
      </dt>
      <dd>
        <div>上海居鼎设计有限公司</div>
        <div>产品拍摄</div>
        <div>上海市松江区松江路11号</div>
        <div>2015-04-21</div>
      </dd>
      <dd>
        <div>上海居鼎设计有限公司</div>
        <div>产品拍摄</div>
        <div>上海市松江区松江路11号</div>
        <div>2015-04-21</div>
      </dd>
      <dd>
        <div>上海居鼎设计有限公司</div>
        <div>产品拍摄</div>
        <div>上海市松江区松江路11号</div>
        <div>2015-04-21</div>
      </dd>
    </dl>
  </div>
{% endblock %}

{% block before_body_end %}
  <div class="all_bg"></div>
  <div class="all_neirong">
    <div class="others_jj fixed_time">
      <div class="other_time">
        <h5>当周日程（5月）<p class="prev"><img src="../static/images/fixed_left.png"/>
        </p>

          <p class="next"><img src="../static/images/fixed_right1.png"/></p>
        </h5>
        <dl>
          <dt>
            <a href="#">SUN</a>
            <a href="#">MON</a>
            <a href="#">TUE</a>
            <a href="#">WED</a>
            <a href="#">THU</a>
            <a href="#">FRI</a>
            <a href="#">SAT</a>
          </dt>
          <dd>
            <a href="#"><span>1</span></a>
            <a href="#"><span>2</span></a>
            <a href="#"><span>3</span></a>
            <a href="#"><span>4</span></a>
            <a href="#"><span>5</span></a>
            <a href="#"><span>6</span></a>
            <a href="#"><span>7</span></a>
          </dd>
          <dd>
            <a href="#"><span>8</span></a>
            <a href="#"><span>9</span></a>
            <a href="#"><span>10</span></a>
            <a href="#"><span>11</span></a>
            <a href="#"><span>12</span></a>
            <a href="#"><span>13</span></a>
            <a href="#"><span>14</span></a>
          </dd>
          <dd>
            <a href="#"><span>15</span></a>
            <a href="#"><span>16</span></a>
            <a href="#"><span>17</span></a>
            <a href="#"><span>18</span></a>
            <a href="#"><span>19</span></a>
            <a href="#"><span>20</span></a>
            <a href="#"><span>21</span></a>
          </dd>
          <dd>
            <a href="#"><span>22</span></a>
            <a href="#"><span>23</span></a>
            <a href="#"><span>24</span></a>
            <a href="#"><span>25</span></a>
            <a href="#"><span>26</span></a>
            <a href="#"><span>27</span></a>
            <a href="#"><span>28</span></a>
          </dd>
          <dd>
            <a href="#"><span>29</span></a>
            <a href="#"><span>30</span></a>
            <a href="#"><span>31</span></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
            <a href="#"></a>
          </dd>
        </dl>
      </div>
      <div class="fixed_time_shuom">按到某日，有颜色背景（即为设置为忙碌）</div>
      <button>确认</button>
      <img src="../static/images/fixed_cuo.png" class="fixed_time_img"/>
    </div>
  </div>
{% endblock %}
