{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}

{% block header_tail %}
  <script src="{{ url_for('static', filename='ckeditor/ckeditor.js', version='4.5.1') }}"></script>
{% endblock %}
{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("settings", current_user) }}
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <div class="others_right_top">
    <form action="{{ url_for('edit_experience',photographer_id=current_user.id) }}" method="POST">
      <div class="others_right_head">
        <h4>
          <label for="experience-textarea">编辑我的摄影经历</label> |
          <a target="_blank" href="{{ url_for('experience', photographer_id=current_user.id) }}">查看我的经历效果预览</a>
        </h4>
      </div>
      <ul class="edit-experience">
        <li>
          <div>
          <textarea class="ckeditor form-control" name="experience-textarea" id="experience-textarea">
            {{ experience.content or '' | safe }}
          </textarea>
          </div>
        </li>
      </ul>
      <button class="button">保存</button>
    </form>
  </div>
{% endblock %}

{% block tail_js %}
  <script lang="javascript">
    CKEDITOR.replace("experience-textarea", {height: 400});
  </script>
{% endblock %}