{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}
{% from "macro/photo_collection_form.html" import photo_collection_form %}
{% block header_tail %}
  <script type="text/javascript" xmlns="http://www.w3.org/1999/html">
    $(function () {
      $(".shangchuang_cuo").click(function () {
        $(this).parent("li").css("display", "none");
      });
    });
  </script>
{% endblock %} {% block dashboard_nav %} {{ super() }}
  {{ dashboard_nav("create_collection", current_user) }} {% endblock %}
{% block dashboard_main %} {{ super() }}
  <div class="others_right_top">
    <div class="others_right_head">
      <h4>编辑作品集 | <a href="{{ url_for('collection_details', collection_id=photo_collection.id) }}" target="_blank">查看作品集显示效果</a></h4>
    </div>
    <h3>作品集信息</h3>

    <form method="post"
          action="{{ url_for('edit_collection', collection_id=photo_collection.id) }}"
          name="edit_collection_form">
      {{ photo_collection_form(form, photo_collection, categories, styles, True) }}
    </form>
  </div>
  <div class="others_right_bottom shangchuang">
    <div class="others_right_head">
      <h4>管理作品集中的作品</h4>
    </div>
    <form method="POST"
          action="{{ url_for('edit_collection', collection_id=photo_collection.id) }}"
          enctype="multipart/form-data" name="edit_collection_form">
      <input type='hidden' name='photo-works-to-delete'
             id='photo-works-to-delete' value=""/>
      <ul id="images-preview-panel">
        {% if photo_collection.photos|length > 0 %}
          {% for photo in photo_collection.photos %}
            <li>
              <div id='photo-work-{{ photo.id }}'>
                <img
                    src="{{ url_for('images', filename=photo.image.path, width=223, height=155, mode='crop') }}"/>
                <span id='delete-{{ photo.id }}'></span>
              </div>
            </li>
          {% endfor %}
        {% endif %}
      </ul>
      <div class="shangchuang_more">
        <a href="#">
          <input type="file" id="photo_collection_files" multiple
                 name="photos[]" style="display: none;"/>
          <img src="{{ url_for('static', filename='images/fabu_more.png') }}"
               id="upload_files_trigger_image"/>
        </a>
      </div>
      <h1 id="upload_files_trigger_text" style="cursor:pointer">
        点击此处上传图片
      </h1>

      <div class="baocun">
        <button class="button">保存</button>
      </div>
    </form>
  </div>
{% endblock %}

{% block tail_js %}
  <script type="text/javascript"
          src="{{ url_for('static',  filename='js/upload_files_preview.js') }}"></script>
{% endblock %}
