{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}
{% from "macro/request_shortcut.html" import request_shortcut %}

{% block dashboard_left_widget %}
  {{ profile_left_widget(photographer, current_user) }}
{% endblock %}
{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("settings", current_user) }}
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <div class="others_right_top">
    <div class="others_right_head">
      <h4><label for="content">{{ photographer.display or '' }}的摄影经历</label></h4>
    </div>
    <div class="experience">
      {{ experience.content|safe or '' }}
    </div>
  </div>
  {{ request_shortcut(photographer, False, True) }}
{% endblock %}