{% extends 'layout/front_layout.html' %}
{% block before_nav %}
  <!--头部切换 start-->
  <div id="banner">
  	<div class="banner">
  		<a href="javascript:;" class="prev" style="display:none;"><img class="pic1" src="../static/images/pic-13.png" width="50" height="50" /></a>
  		<a href="javascript:;" class="next" style="display:none;"><img class="pic2" src="../static/images/pic-14.png" width="50" height="50" /></a>
  		<div class="imgs">
  			<a href="#" style="background-image: url(../static/pic/1.jpg);"></a>
  			<a href="#" style="background-image: url(../static/pic/2.jpg);"></a>
  		</div>
  		<div class="nums" style="display:none;">
  			<a href="javascript:;" class="">1</a>
  			<a href="javascript:;" class="">2</a>
  		</div>
  	</div>
      <!--banner上面的选择框 strat-->
      <div class="banner_above"></div>
      <div class="banner_top">
      	<ul>
          	<li class="li_lis li_big"><a href="#">你想拍什么？</a>
              	<ul class="photo_add">
                      <li><a class="banner_top_p">上海</a></li>
                      <li><a>北京</a></li>
                      <li><a>巴黎</a></li>
                      <li><a>巴黎</a></li>
                      <li><a>巴黎</a></li>
                  </ul>
              </li>
              <li class="li_lis li_center"><a href="#">最早拍摄时间</a>
              	<ul class="photo_add">
                      <li><a class="banner_top_p">上海</a></li>
                      <li><a>北京</a></li>
                      <li><a>巴黎</a></li>
                      <li><a>巴黎</a></li>
                      <li><a>巴黎</a></li>
                  </ul>
              </li>
              <li class="li_lis li_center"><a href="#">最晚拍摄时间</a>
              	<ul class="photo_add">
                      <li><a class="banner_top_p">2015-05-13</a></li>
                      <li><a>2015-05-13</a></li>
                      <li><a>2015-05-13</a></li>
                      <li><a>2015-05-13</a></li>
                      <li><a>2015-05-13</a></li>
                  </ul>
              </li>
              <li class="li_lis li_small"><a href="#">拍摄地点</a>
              	<ul class="photo_add">
                      <li><a class="banner_top_p">上海</a></li>
                      <li><a>北京</a></li>
                      <li><a>巴黎</a></li>
                      <li><a>巴黎</a></li>
                      <li><a>巴黎</a></li>
                  </ul>
              </li>
          </ul>
          <a href="{{ url_for('search') }}" class="search_big"><img src="../static/images/serach_big.png" /></a>
      </div>
      <!--导航 strat-->
      <!--banner上面的选择框 end-->
  </div>
  <!--头部切换 end-->
{% endblock %}

{% block header_bg_css %}
  header_bg
{% endblock %}

{% block main %}
  {{ super() }}
	<div class="layer">
    	<div class="main_jingw">
        	<!--静物类摄影作品-->
        	<h6 class="jingwu">静物类摄影作品</h6>
            <ul>
            	<li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_01.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_02.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_03.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_04.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_05.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_06.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
            </ul>
        </div>
        <!--活动类摄影作品-->
        <div class="main_jingw">
        	<h6 class="huodong">活动类摄影作品</h6>
            <ul>
            	<li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_07.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_08.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_09.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_10.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_11.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_12.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
            </ul>
        </div>
        <!--其他拍摄商业作品-->
        <div class="main_jingw">
        	<h6 class="jingwu other">其他拍摄商业作品</h6>
            <ul>
            	<li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_01.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_02.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_03.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_04.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_05.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_06.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
            </ul>
        </div>
        <!--个人摄影作品-->
        <div class="main_jingw">
        	<h6 class="geren huodong">个人摄影作品</h6>
            <ul>
            	<li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_07.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_08.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_09.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_10.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_11.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
                <li><a href="{{ url_for('work_details') }}"><img src="../static/pic/photo_12.png" /><p></p><div><img src="../static/images/video_hover.png" /></div></a></li>
            </ul>
        </div>
        <!--季节主打或套餐-->
        <div class="season">
        	<h6>季节主打或套餐（摄影+摄像）</h6>
            <ul>
            	<li><a href="#"><img src="../static/pic/season_01.png" /><p>冬</p></a></li>
                <li><a href="#"><img src="../static/pic/season_02.png" /><p>套餐</p></a></li>
                <li><a href="#"><img src="../static/pic/season_03.png" /><p>摄像</p></a></li>
            </ul>
        </div>
        <!--视频-->
        <div class="video">
        	<div class="video_img">
            	<a href="#"><img src="../static/pic/video_01.png" /></a>
            </div>
            <div class="video_text">
            	<h3>温暖的诗句</h3>
                <p>给你家的温暖，诗人般的浪漫</p>
                <a href="#"><img src="../static/images/video_ico.png" /></a>
            </div>
        </div>
        <!--我们的社区-->
        <div class="season community">
        	<h6>我们的社区</h6>
            <ul>
            	<li>
                	<a href="#" class="community_01">
                		<h5>摄影</h5>
                        <span>如何找到适合您的摄影师</span>
                	</a>
                </li>
                <li>
                	<a href="#" class="community_02">
                    	<h5>分享</h5>
                        <span>告诉我们您的拍摄故事</span>
                    </a>
                </li>
                <li>
                	<a href="#" class="community_03">
                    	<h5>服务</h5>
                        <span>如何找到完美的服务对象</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}

{% block footer %}
<div class="foot">
	<div class="layer">
    	<h6>以信任为基础的社区</h6>
        <ul>
        	<li>
            	<img src="../static/images/foot_sina.png" />
                <h4>微博验证</h4>
                <p>使用您的微博账户登录以验证您的身份。<br /><a href="#">了解更多</a></p>
            </li>
            <li>
            	<img src="../static/images/foot_suo.png" />
                <h4>可依赖的服务</h4>
                <p>维护社区的信任和安全是我们的
首要任务。<a href="#">了解更多</a></p>
            </li>
            <li>
            	<img src="../static/images/foot_zhi.png" />
                <h4>支付宝</h4>
                <p>支付宝付款现已面向中国用户开通，
欢迎使用。<a href="#">了解更多</a></p>
            </li>
        </ul>
    </div>
</div>
{% endblock %}
