{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}
{% from "macro/photo_collection_cell.html" import display_photo_collection %}

{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("my_photos") }}
{% endblock %}

{% block dashboard_left_widget %}
  {{ super() }}
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <!--other_right strat-->
  <div class="others_right">
    <div class="others_right_top">
      <div class="others_right_head">
        <h4>我的照片</h4>

        <div><a href="#">更多</a></div>
      </div>
      <ul class="personal_gl">
        <li><a href="{{ url_for('create_collection') }}">创建作品集</a></li>
      </ul>
      <ul class="others_works">
        {% for photo_collection in photo_collections %}
          {{ display_photo_collection(photo_collection) }}
        {% endfor %}
      </ul>
      <div class="clear"></div>
      <ul class="other_qie">
        <li class="curr"></li>
        <li></li>
        <li></li>
      </ul>
    </div>
  </div>
  <!--other_right end-->
{% endblock %}