{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}
{% from "macro/ul_tab_cell.html" import ul_tab_cell %}

{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("orders", current_user) }}
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <div class="others_right_top">
    <div class="others_right_head">
      <h4>我的拍摄请求</h4>

      <div><a href="#">共{{ requests|length }}个</a></div>
    </div>
    <ul class="personal_gl personal_gl_tab">
      {% if request.path == '/orders/request/' or
            request.path == '/orders/' or
            request.path == '/orders/request/draft' or
            request.path | startswith('/orders/order/') %}
        <li style="border: 1px solid #EFEFEF; background: #FFFFFF; border-bottom: none;">
          {% else %}
        <li>
      {% endif %}
      <a href="{{ url_for('orders', obj_type='request', status_code='draft') }}">未确认</a>
      </li>
      {{ ul_tab_cell(url_for('orders', obj_type='request', status_code='confirmed'), "已确认") }}
      {{ ul_tab_cell(url_for('orders', obj_type='request', status_code='cancelled'), "已取消") }}
    </ul>
    {% if requests|length > 0 %}
      <form name='process_request' id='process_request' method="post" action="{{ url_for('process_request') }}">
        <input type="hidden" name="operation" id="request_operation" value=""/>
        <input type="hidden" name="request_id" id='request_id' value=""/>
        <ul class="others_works renwu">
          {% for request in requests %}
            <li>
              <div class="rw">
                <div class="rw_details">
                  {% if current_user.type.code == 'PHOTOGRAPHER_USER' %}
                    <h4>{{ request.requester.display }}请求从 {{ request.start_date.strftime('%m-%d') or '' }}
                      到 {{ request.end_date.strftime('%m-%d') or '' }} 在 {{ request.location or '' }} 进行拍摄</h4>
                  {% else %}
                    <h4>请求 {{ request.photographer.display }} 于 {{ request.start_date.strftime('%m-%d') or '' }}
                      到 {{ request.end_date.strftime('%m-%d') or '' }} 在 {{ request.location or '' }} 进行拍摄</h4>
                  {% endif %}
                  <p>
                    拍摄分类：{{ request.category.display or '' }}， 拍摄风格：{{ request.style.display or '' }}，
                    日单价：{{ request.price or '未知' }}，总金额： {{ request.amount or '未知' }}<br>
                    所需镜头： {{ request.lens_needed or '' }}，备注：{{ request.remark or '' }}</p>
                  {% if request.status.code == 'REQUEST_STATUS_DRAFT' %}
                    {% if current_user.type.code == 'PHOTOGRAPHER_USER' %}
                      <div class="rw_button">
                        <button class="gowancheng" id="confirm_request_{{ request.id }}">确认请求</button>
                        <button class="zaishuo" id="reject_request_{{ request.id }}">无法拍摄</button>
                      </div>
                    {% else %}
                      <div class="rw_button">
                        <button class="zaishuo" id="cancel_request_{{ request.id }}">取消请求</button>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </li>
          {% endfor %}
        </ul>
      </form>
    {% else %}
      <ul class="others_works renwu">
        <li class="no_request_table_msg">
          您还没有该状态的服务请求
        </li>
      </ul>
    {% endif %}

    <div class="clear"></div>
    <ul class="other_qie">
      <li class="curr"></li>
      <li></li>
      <li></li>
    </ul>
  </div>
  <div class="others_right_bottom">
    <div class="others_right_head">
      <h4>我的服务订单</h4>

      <div><a href="#">共{{ orders|length }}个</a></div>
    </div>
    <ul class="personal_gl personal_gl_tab">
      {% if request.path == '/orders/order/' or
            request.path == '/orders/' or
            request.path == '/orders/order/draft' or
            request.path | startswith('/orders/request/') %}
        <li style="border: 1px solid #EFEFEF; background: #FFFFFF; border-bottom: none;">
          {% else %}
        <li>
      {% endif %}
      <a href="{{ url_for('orders', obj_type='order', status_code='draft') }}">草稿</a>
      </li>
      {{ ul_tab_cell(url_for('orders', obj_type='order', status_code='paid'), "已付款") }}
      {{ ul_tab_cell(url_for('orders', obj_type='order', status_code='completed'), "已完成") }}
    </ul>
    <dl class="geren2_order me_service">
      <dt>
        {% if current_user.type.code == 'PHOTOGRAPHER_USER' %}
          <div>客户</div>
        {% else %}
          <div>摄影师</div>
        {% endif %}
      <div>地点</div>
      <div>时间</div>
      <div>状态</div>
      <div>操作</div>
      </dt>
      {% if orders|length > 0 %}
        <form name='process_order' id='process_order' method="post" action="{{ url_for('process_order') }}">
          <input type="hidden" name="operation" id="order_operation" value=""/>
          <input type="hidden" name="order_id" id='order_id' value=""/>
          {% for order in orders %}
            <dd>
              <div>{{ order.request.requester.display or '' }}</div>
              <div>{{ order.request.location or '' }}</div>
              <div>{{ order.request.start_date.strftime('%m-%d') or '' }}
                到 {{ order.request.end_date.strftime('%m-%d') or '' }} </div>
              <div>{{ order.status.display or '' }}</div>
              <div>
                {% if order.status.code == 'ORDER_STATUS_DRAFT' and current_user.id == order.request.photographer_id %}
                  <a href="#" id="confirm_paid_order_{{ order.id }}">标记订单已付款</a>
                {% elif order.status.code == 'ORDER_STATUS_PAID' and current_user.id == order.request.requester_id %}
                  <a href="#" id="complete_order_{{ order.id }}">标记订单已完成</a>
                {% elif order.status.code == 'ORDER_STATUS_COMPLETED' and current_user.id == order.request.photographer_id %}
                  <a href="{{ url_for('create_collection') }}" target="_blank">上传拍摄作品集</a>
                {% endif %}
              </div>
            </dd>
          {% endfor %}
        </form>
      {% else %}
        <div class="no_ul_table_content_msg">
          您还没有该状态的服务订单
        </div>
      {% endif %}
    </dl>
  </div>
{% endblock %}