{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}

{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("orders", current_user) }}
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <div class="others_right">
  	<div class="others_right_top">
          <div class="others_right_head">
              <h4>订单管理</h4>
          </div>
          <dl class="geren2_order">
              <dt>
                  <div>订单号</div>
                  <div>订单图片</div>
                  <div>价格</div>
                  <div>状态</div>
                  <div>评价</div>
              </dt>
              <dd>
                  <div>102234</div>
                  <div><img src="../static/pic/gl.jpg" /></div>
                  <div>￥2335.00</div>
                  <div>代付款</div>
                  <div>已评价</div>
              </dd>
              <dd>
                  <div>102234</div>
                  <div><img src="../static/pic/gl.jpg" /></div>
                  <div>￥2335.00</div>
                  <div>代付款</div>
                  <div>已评价</div>
              </dd>
              <dd>
                  <div>102234</div>
                  <div><img src="../static/pic/gl.jpg" /></div>
                  <div>￥2335.00</div>
                  <div>代付款</div>
                  <div>已评价</div>
              </dd>
          </dl>
      </div>
  </div>

{% endblock %}