{% extends 'layout/front_layout.html' %}

{% block main %}
  <div class="layer">
    {% include "fragment/photograph_search_panel.html" %}
    <div class="demo clearfix">
      <div class="item_list infinite_scroll">
        {% for p in result_list %}
          <div class="item masonry_brick">
            <div class="item_t">
              <div class="img">
                {% if p.produced_photo_collections is defined and p.produced_photo_collections != None %}
                  {% if p.produced_photo_collections[0] is defined and p.produced_photo_collections[0].photos is defined %}
                    {% if p.produced_photo_collections[0].photos[0] is defined and  p.produced_photo_collections[0].photos[0].image != None %}
                      {% set filename =  p.produced_photo_collections[0].photos[0].image.path %}
                    {% endif %}
                  {% endif %}
                {% endif %}
                {% if filename is undefined or filename == None %}
                  {% set filename = 'photo_pic1.jpg' %}
                {% endif %}
                <a href="{{ url_for('experience', photographer_id=p.id) }}">
                  <img src="{{ url_for('images', filename=filename, width=285, height=184) }}"/>
                </a>
              </div>
              <div class="title">
                <h5>
                  <span><a href="{{ url_for('blog', photographer_id=p.id) }}">
                    {% if p.image is defined and p.image != None %}
                      <img src="{{ url_for('images', filename=p.image.path, width=42, height=39, mode='fit') }}"
                           class="md-circular">
                    {% else %}
                      <img src="{{ url_for('images', filename="big_tx.png", width=42, height=39, mode='fit') }}"
                           class="md-circular"/>
                    {% endif %}
                    <span>{{ p.display|substring("left",9) or '无名大侠' }}</span></a>
                </span>
                  <span style="float:right;font-size:11px">
                    <a href="{{ url_for('request_service', photographer_id=p.id) }}" style="color:rgb(100, 195, 211)">
                      预约<span class="glyphicon glyphicon-phone" style="margin-left:0"></span>
                    </a>
                  </span>
                </h5>
                <dl>
                  {% if p.produced_photo_collections|length > 0 %}
                    <dt>{{ p.produced_photo_collections|heatmap }}</dt>
                  {% else %}
                    <dt><span class="styles">还没有发布作品</span></dt>
                  {% endif %}
                  <dt>所在地： {{ p.location.display or '未知' }}({% if p.accept_travel %}接受出差拍摄{% else %}不接受出差拍摄{% endif %})</dt>
                  <dt>被预约次数：{{ p.received_requests|length }}次，发布作品集：{{ p.produced_photo_collections|length }}个</dt>
                </dl>
              </div>
            </div>
          </div>
        {% endfor %}
        <!--item end-->
      </div>
      <div id="more"><a href="{{ url_for('works') }}"></a></div>
      <div id="page" class="page" style="display:none;">
        <div class="page_num">
          <span class="unprev"></span>
          <span class="current">1</span>
          <a href="#">&nbsp;2&nbsp;</a>
          <a href="#">&nbsp;3&nbsp;</a>
          <a href="#">&nbsp;4&nbsp;</a>
          <a href="#">&nbsp;5&nbsp;</a>
          <span class="etc"></span>
          <a href="#">12</a>
          <a href="#" class="next"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}