{% extends 'layout/front_layout.html' %}

{% block main %}
  <div class="layer">
    <div class="search_top">
      <div class="search_top_head">
        <h6>拍摄类别</h6>
        <ul class="shooting_style shooting_style1">
          <li>
            <span>拍摄类别</span>

            <P><img src="../static/images/xiala.png"/></P>
            <dl>
              <dd><a href="#">类别1</a></dd>
              <dd><a href="#">类别2</a></dd>
              <dd><a href="#">类别3</a></dd>
              <dd><a href="#">类别4</a></dd>
              <dd><a href="#">类别5</a></dd>
              <dd><a href="#">类别6</a></dd>
              <dd><a href="#">类别7</a></dd>
              <dd><a href="#">类别8</a></dd>
              <dd><a href="#">类别9</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="search_top_head">
        <h6>搜索区域</h6>
        <ul class="shooting_style shooting_style1">
          <li>
            <span>拍摄类别</span>

            <P><img src="../static/images/xiala.png"/></P>
            <dl>
              <dd><a href="#">类别1</a></dd>
              <dd><a href="#">类别2</a></dd>
              <dd><a href="#">类别3</a></dd>
              <dd><a href="#">类别4</a></dd>
              <dd><a href="#">类别5</a></dd>
              <dd><a href="#">类别6</a></dd>
              <dd><a href="#">类别7</a></dd>
              <dd><a href="#">类别8</a></dd>
              <dd><a href="#">类别9</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="search_top_concet">
        <h6>日期</h6>
        <ul class="search_time">
          <li><label><input type="text"/></label></li>
          <li class="zhi">至</li>
          <li><label><input type="text"/></label></li>
        </ul>
      </div>
      <div class="search_top_concet">
        <h6>拍摄风格</h6>
        <ul class="shooting_style">
          <li>
            <span>选择国家</span>

            <P><img src="../static/images/xiala.png"/></P>
            <dl>
              <dd><a href="#">法国</a></dd>
              <dd><a href="#">韩国</a></dd>
              <dd><a href="#">美国</a></dd>
              <dd><a href="#">韩国</a></dd>
              <dd><a href="#">美国</a></dd>
              <dd><a href="#">法国</a></dd>
              <dd><a href="#">韩国</a></dd>
              <dd><a href="#">美国</a></dd>
            </dl>
          </li>
          <li>
            <span>选择城市</span>

            <P><img src="../static/images/xiala.png"/></P>
            <dl class="one">
              <dd><a href="#">法国</a></dd>
              <dd><a href="#">韩国</a></dd>
              <dd><a href="#">美国</a></dd>
              <dd><a href="#">法国</a></dd>
              <dd><a href="#">韩国</a></dd>
              <dd><a href="#">美国</a></dd>
            </dl>
          </li>
          <li>
            <span>选择市区</span>

            <P><img src="../static/images/xiala.png"/></P>
            <dl>
              <dd><a href="#">法国</a></dd>
              <dd><a href="#">韩国</a></dd>
              <dd><a href="#">韩国</a></dd>
              <dd><a href="#">美国</a></dd>
            </dl>
          </li>
        </ul>
      </div>
      <div class="search_top_concet">
        <h6>拍摄价位</h6>
        <ul class="search_time">
          <li><label><input type="text" class="serach_txt" value="0"/></label>
          </li>
          <li class="zhi">至</li>
          <li><label><input type="text" class="serach_txt" value="100"></label>
          </li>
        </ul>
      </div>
      <button>搜索</button>
    </div>
    <div class="demo clearfix">
      <div class="item_list infinite_scroll">
        {% for p in photographs %}
          <div class="item masonry_brick">
            <div class="item_t">
              <div class="img">
                {% if p.produced_photo_collections is defined and p.produced_photo_collections != None %}
                  {% if p.produced_photo_collections[0] is defined and p.produced_photo_collections[0].photos is defined %}
                    {% if p.produced_photo_collections[0].photos[0] is defined and  p.produced_photo_collections[0].photos[0].image != None %}
                      {% set filename =  p.produced_photo_collections[0].photos[0].image.path %}
                    {% endif %}
                  {% endif %}
                {% endif %}
                {% if filename is undefined or filename == None %}
                  {% set filename = 'photo_pic1.jpg' %}
                {% endif %}
                <a href="{{ url_for('collection_details', collection_id=1) }}">
                  <img src="{{ url_for('images', filename=filename, width=318, mode='fit') }}"/>
                </a>
              </div>
              <div class="title">
                <h5><a href="{{ url_for('comments') }}">
                  {% if p.image is defined and p.image != None %}
                    <img
                        src="{{ url_for('images', filename=p.image.path, width=42, height=39, mode='fit') }}"
                        class="md-circular">
                  {% else %}
                    <img
                        src="{{ url_for('images', filename="big_tx.png", width=42, height=39, mode='fit') }}"
                        class="md-circular"/>
                  {% endif %}
                  <span>{{ p.display or '无名大侠' }}</span></a></h5>
                <dl>
                  <dt>擅长风格:</dt>
                  {% if p.styles|length > 0 %}
                    {% for s in p.styles %}
                      <dt>{{ s.display }}</dt>
                    {% endfor %}
                  {% else %}
                    <dt>不详</dt>
                  {% endif %}
                </dl>
              </div>
            </div>
          </div>
        {% endfor %}
        <!--item end-->
      </div>
      <div id="more"><a href="{{ url_for('works') }}"></a></div>
      <div id="page" class="page" style="display:none;">
        <div class="page_num">
          <span class="unprev"></span>
          <span class="current">1</span>
          <a href="#">&nbsp;2&nbsp;</a>
          <a href="#">&nbsp;3&nbsp;</a>
          <a href="#">&nbsp;4&nbsp;</a>
          <a href="#">&nbsp;5&nbsp;</a>
          <span class="etc"></span>
          <a href="#">12</a>
          <a href="#" class="next"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}