{% extends 'layout/dashboard_layout.html' %}
{% from "macro/dashboard_nav.html" import dashboard_nav %}

{% block header_tail %}
  <script type="text/javascript">
    $(function () {
      $(".shangchuang_cuo").click(function () {
        $(this).parent("li").css("display", "none");
      });
    });
  </script>
{% endblock %}

{% block dashboard_nav %}
  {{ super() }}
  {{ dashboard_nav("create_collection") }}
{% endblock %}
{% block dashboard_main %}
  {{ super() }}
  <div class="others_right_top">
    <div class="others_right_head">
      <h4>维护作品分类</h4>
    </div>
    <div id="photo_categories_list_panel">
      <h3>现有作品分类列表</h3>
      <table width="95%" align="center"
             class="photo_categories_list table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th class="column-header col-id">编号</th>
          <th class="column-header col-name">名称</th>
          <th class="column-header col-operation">操作</th>
        </tr>
        </thead>
        <tbody>
        {% if categories|length > 0 %}
          {% for category in categories %}
            <tr>
              <td id="col-{{ category.id }}">{{ category.id }}</td>
              <td id="col-{{ category.id }}-name">{{ category.name }}</td>
              <td>
                <a href="#" onclick="delete_photo_category({{ category.id }})"
                   class="glyphicon glyphicon-remove"></a>
                <a href="#" onclick="edit_photo_category({{ category.id }})"
                   class="glyphicon glyphicon-edit" style="padding-left:20px;"></a>
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="3">您还没有任何作品分类，请在下面增加</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
    <div id="photo_category_edit_panel">
      <h3>编辑现有作品分类</h3>

      <form action="{{ url_for('photo_categories') }}" method="POST" id="edit-form">
        <input id="edit-operation" name="operation" type="hidden" value="edit"/>
        <ul class="basic_xinxi">
          <li>
            <div class="basic_xinxi_01">
              <label for="edit-id">分类编号</label>
            </div>
            <div class="basic_xinxi_02">
              <input id="edit-id" name="id" type="text" readonly value=""/>
            </div>
          </li>
          <li>
            <div class="basic_xinxi_01">
              <label for="edit-name">分类名称</label>
            </div>
            <div class="basic_xinxi_02">
              <input id="edit-name" name="name" type="text" value=""/>
            </div>
          </li>
        </ul>
        <div class="baocun">
          <button>保存</button>
        </div>
      </form>
    </div>
  </div>
  <div class="others_right_bottom" id="photo_category_create_panel">
    <div class="others_right_head"><h4>增加作品分类</h4></div>
    <form action="{{ url_for('photo_categories') }}" method="POST" id="create-form">
      <input id="new-operation" name="operation" type="hidden" value="create"/>
      <ul class="basic_xinxi">
        <li>
          <div class="basic_xinxi_01">
            <label for="new-name">分类名称</label>
          </div>
          <div class="basic_xinxi_02">
            <input id="new-name" name="name" type="text" value=""/>
          </div>
        </li>
      </ul>
      <div class="baocun">
        <button>保存</button>
      </div>
    </form>
  </div>
{% endblock %}
