{% extends 'layout/front_layout.html' %}

{% block main %}
  <div class="layer">
    {% include "fragment/photograph_search_panel.html" %}
    <div class="demo clearfix">
      <div class="item_list infinite_scroll">
        {% for p in result_list %}
          <div class="item masonry_brick">
            <div class="item_t">
              <div class="img">
                {% if p.produced_photo_collections is defined and p.produced_photo_collections != None %}
                  {% if p.produced_photo_collections[0] is defined and p.produced_photo_collections[0].photos is defined %}
                    {% if p.produced_photo_collections[0].photos[0] is defined and  p.produced_photo_collections[0].photos[0].image != None %}
                      {% set filename =  p.produced_photo_collections[0].photos[0].image.path %}
                    {% endif %}
                  {% endif %}
                {% endif %}
                {% if filename is undefined or filename == None %}
                  {% set filename = 'photo_pic1.jpg' %}
                {% endif %}
                <a href="{{ url_for('blog', photographer_id=p.id) }}">
                  <img src="{{ url_for('images', filename=filename, width=285, height=184) }}"/>
                </a>
              </div>
              <div class="title">
                <h5><a href="{{ url_for('blog', photographer_id=p.id) }}">
                  {% if p.image is defined and p.image != None %}
                    <img src="{{ url_for('images', filename=p.image.path, width=42, height=39, mode='fit') }}"
                         class="md-circular">
                  {% else %}
                    <img src="{{ url_for('images', filename="big_tx.png", width=42, height=39, mode='fit') }}"
                         class="md-circular"/>
                  {% endif %}
                  <span>{{ p.display or '无名大侠' }}</span></a>
                  <span><a href="{{ url_for('request_service', photographer_id=p.id) }}">预约</a></span>
                </h5>
                <dl>
                  <dt>擅长风格:</dt>
                  {% if p.styles|length > 0 %}
                    {% for s in p.styles %}
                      <dt>{{ s.display }}</dt>
                    {% endfor %}
                  {% else %}
                    <dt>不详</dt>
                  {% endif %}
                </dl>
              </div>
            </div>
          </div>
        {% endfor %}
        <!--item end-->
      </div>
      <div id="more"><a href="{{ url_for('works') }}"></a></div>
      <div id="page" class="page" style="display:none;">
        <div class="page_num">
          <span class="unprev"></span>
          <span class="current">1</span>
          <a href="#">&nbsp;2&nbsp;</a>
          <a href="#">&nbsp;3&nbsp;</a>
          <a href="#">&nbsp;4&nbsp;</a>
          <a href="#">&nbsp;5&nbsp;</a>
          <span class="etc"></span>
          <a href="#">12</a>
          <a href="#" class="next"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}