{% extends 'layout/front_layout.html' %}

{% block main %}
	<div class="layer">
    	<div class="search_top">
        	<div class="search_top_head">
            	<h6>拍摄类别</h6>
            	<ul class="shooting_style shooting_style1">
                	<li>
                    	<span>拍摄类别</span>
                        <P><img src="../static/images/xiala.png" /></P>
                        <dl>
                        	<dd><a href="#">类别1</a></dd>
                            <dd><a href="#">类别2</a></dd>
                            <dd><a href="#">类别3</a></dd>
                            <dd><a href="#">类别4</a></dd>
                            <dd><a href="#">类别5</a></dd>
                            <dd><a href="#">类别6</a></dd>
                            <dd><a href="#">类别7</a></dd>
                            <dd><a href="#">类别8</a></dd>
                            <dd><a href="#">类别9</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <div class="search_top_concet">
            	<h6>拍摄风格</h6>
                <ul class="shooting_style shooting_style1">
                	<li>
                    	<span>拍摄类别</span>
                        <P><img src="../static/images/xiala.png" /></P>
                        <dl>
                        	<dd><a href="#">类别1</a></dd>
                            <dd><a href="#">类别2</a></dd>
                            <dd><a href="#">类别3</a></dd>
                            <dd><a href="#">类别4</a></dd>
                            <dd><a href="#">类别5</a></dd>
                            <dd><a href="#">类别6</a></dd>
                            <dd><a href="#">类别7</a></dd>
                            <dd><a href="#">类别8</a></dd>
                            <dd><a href="#">类别9</a></dd>
                        </dl>
                    </li>
                    <li>
                    	<span>拍摄类别</span>
                        <P><img src="../static/images/xiala.png" /></P>
                        <dl>
                        	<dd><a href="#">类别1</a></dd>
                            <dd><a href="#">类别2</a></dd>
                            <dd><a href="#">类别3</a></dd>
                            <dd><a href="#">类别4</a></dd>
                            <dd><a href="#">类别5</a></dd>
                            <dd><a href="#">类别6</a></dd>
                            <dd><a href="#">类别7</a></dd>
                            <dd><a href="#">类别8</a></dd>
                            <dd><a href="#">类别9</a></dd>
                        </dl>
                    </li>
                    <li>
                    	<span>拍摄类别</span>
                        <P><img src="../static/images/xiala.png" /></P>
                        <dl>
                        	<dd><a href="#">类别1</a></dd>
                            <dd><a href="#">类别2</a></dd>
                            <dd><a href="#">类别3</a></dd>
                            <dd><a href="#">类别4</a></dd>
                            <dd><a href="#">类别5</a></dd>
                            <dd><a href="#">类别6</a></dd>
                            <dd><a href="#">类别7</a></dd>
                            <dd><a href="#">类别8</a></dd>
                            <dd><a href="#">类别9</a></dd>
                        </dl>
                    </li>
                </ul>
                
            </div>
            <div class="search_top_concet">
            	<h6>日期</h6>
                <ul class="search_time">
                	<li><label><input type="text" /></label></li>
                    <li class="zhi">至</li>
                    <li><label><input type="text" /></label></li>
                </ul>
            </div>
            <div class="search_top_concet">
            	<h6>拍摄地点</h6>
                <ul class="shooting_style">
                	<li>
                    	<span>选择国家</span>
                        <P><img src="../static/images/xiala.png" /></P>
                        <dl>
                        	<dd><a href="#">法国</a></dd>
                            <dd><a href="#">韩国</a></dd>
                            <dd><a href="#">美国</a></dd>
                            <dd><a href="#">韩国</a></dd>
                            <dd><a href="#">美国</a></dd>
                            <dd><a href="#">法国</a></dd>
                            <dd><a href="#">韩国</a></dd>
                            <dd><a href="#">美国</a></dd>
                        </dl>
                    </li>
                    <li>
                    	<span>选择城市</span>
                        <P><img src="../static/images/xiala.png" /></P>
                        <dl class="one">
                        	<dd><a href="#">法国</a></dd>
                            <dd><a href="#">韩国</a></dd>
                            <dd><a href="#">美国</a></dd>
                            <dd><a href="#">法国</a></dd>
                            <dd><a href="#">韩国</a></dd>
                            <dd><a href="#">美国</a></dd>
                        </dl>
                    </li>
                    <li>
                    	<span>选择市区</span>
                        <P><img src="../static/images/xiala.png" /></P>
                        <dl>
                        	<dd><a href="#">法国</a></dd>
                            <dd><a href="#">韩国</a></dd>
                            <dd><a href="#">韩国</a></dd>
                            <dd><a href="#">美国</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
            <button>搜索</button>
        </div>
        <div class="clear"></div>
        <div class="search_bottom">
        	<div class="others_right_head search_more">
                <h4>更多筛选条件</h4>
                <div><a href="#">搜索结果</a></div>
            </div>
            <ul>
            	<li>
                	<a href="{{ url_for('collection_details', collection_id=1) }}"><img src="../static/pic/search_01.png" /></a>
                    <div class="img_left">
                        <h5>么么哒</h5>
                        <p>日照 2015-05-27</p>
                    </div>
                    <div class="img_right">
                        <h5>XX</h5>
                        <p>哈哈哈</p>
                    </div>
                </li>
                <li>
                	<a href="{{ url_for('collection_details', collection_id=1) }}"><img src="../static/pic/search_02.png" /></a>
                    <div class="img_left">
                        <h5>么么哒</h5>
                        <p>日照 2015-05-27</p>
                    </div>
                    <div class="img_right">
                        <h5>XX</h5>
                        <p>哈哈哈</p>
                    </div>
                </li>
                <li>
                	<a href="{{ url_for('collection_details', collection_id=1) }}"><img src="../static/pic/search_03.png" /></a>
                    <div class="img_left">
                        <h5>么么哒</h5>
                        <p>日照 2015-05-27</p>
                    </div>
                    <div class="img_right">
                        <h5>XX</h5>
                        <p>哈哈哈</p>
                    </div>
                </li>
                <li>
                	<a href="{{ url_for('collection_details', collection_id=1) }}"><img src="../static/pic/search_01.png" /></a>
                    <div class="img_left">
                        <h5>么么哒</h5>
                        <p>日照 2015-05-27</p>
                    </div>
                    <div class="img_right">
                        <h5>XX</h5>
                        <p>哈哈哈</p>
                    </div>
                </li>
                <li>
                	<a href="{{ url_for('collection_details', collection_id=1) }}"><img src="../static/pic/search_02.png" /></a>
                    <div class="img_left">
                        <h5>么么哒</h5>
                        <p>日照 2015-05-27</p>
                    </div>
                    <div class="img_right">
                        <h5>XX</h5>
                        <p>哈哈哈</p>
                    </div>
                </li>
                <li>
                	<a href="{{ url_for('collection_details', collection_id=1) }}"><img src="../static/pic/search_03.png" /></a>
                    <div class="img_left">
                        <h5>么么哒</h5>
                        <p>日照 2015-05-27</p>
                    </div>
                    <div class="img_right">
                        <h5>XX</h5>
                        <p>哈哈哈</p>
                    </div>
                </li>
                <li>
                	<a href="{{ url_for('collection_details', collection_id=1) }}"><img src="../static/pic/search_01.png" /></a>
                    <div class="img_left">
                        <h5>么么哒</h5>
                        <p>日照 2015-05-27</p>
                    </div>
                    <div class="img_right">
                        <h5>XX</h5>
                        <p>哈哈哈</p>
                    </div>
                </li>
                <li>
                	<a href="{{ url_for('collection_details', collection_id=1) }}"><img src="../static/pic/search_02.png" /></a>
                    <div class="img_left">
                        <h5>么么哒</h5>
                        <p>日照 2015-05-27</p>
                    </div>
                    <div class="img_right">
                        <h5>XX</h5>
                        <p>哈哈哈</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}