{% extends 'layout/front_layout.html' %}

{% block header_tail %}
<script type="text/javascript" src="{{ url_for('static',  filename='js/slides-1.1.1-min.js')}}"></script>
<script type="text/javascript">
$(function() {
	$('.succesny').olvSlides({
		thumb: true,
		thumbPage: true,
		thumbDirection: "X",
		effect: 'fade'
	});
})
</script>
{% endblock %}

{% block main %}
  {{ super() }}
	<div style=" width:1100px; margin:0 auto;">
    	<h5 class="work_h5">自然风光-鸟</h5>
        <div class="successlunbo">
            <div class="succesny">
                <div class="control">
                    <ul class="change">
                    </ul>
                </div>
                <div class="thumbWrap">
                    <div class="thumbCont">
                        <ul>
                            <!-- img属性, url=url, text=描述, bigimg=大图, alt=标题  -->
                            <li><div><img src="/static/images/s1.jpg" url="url" bigImg="/static/images/1.jpg"></div></li>
                            <li><div><img src="/static/images/s2.jpg" url="url"  bigImg="/static/images/2.jpg"></div></li>
                            <li><div><img src="/static/images/s3.jpg" url="url"  bigImg="/static/images/3.jpg"></div></li>
                            <li><div><img src="/static/images/s4.jpg" url="url"  bigImg="/static/images/4.jpg" ></div></li>
                            <li><div><img src="/static/images/s5.jpg" url="url"  bigImg="/static/images/5.jpg" ></div></li>
                            <li><div><img src="/static/images/s1.jpg" url="url" bigImg="/static/images/1.jpg" ></div></li>
                            <li><div><img src="/static/images/s2.jpg" url="url"  bigImg="/static/images/2.jpg" ></div></li>
                            <li><div><img src="/static/images/s3.jpg" url="url"  bigImg="/static/images/3.jpg" ></div></li>
                            <li><div><img src="/static/images/s4.jpg" url="url"  bigImg="/static/images/4.jpg" ></div></li>
                            <li><div><img src="/static/images/s5.jpg" url="url"  bigImg="/static/images/4.jpg" ></div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="work_wz">
        	<div class="work_wz_left">
        		<a href="{{ url_for('comments') }}"><img src="../static/images/tx1.png" /></a>
            </div>
            <div class="work_wz_right">
        		<h6>作品简介 :</h6>
            	<p>鸟摄影有利于画面简洁，巧妙的用光却体现了作者的摄影功底，鸟的排列被安排在深色色的背景之上，逆光勾勒出鸟的轮廓，主题突出，画面极具美感。</p>
            </div>
        </div>
    </div>
{% endblock %}