{% extends 'layout/front_layout.html' %}
{% from "macro/enum_value_search_field.html" import enum_value_search_field %}
{% block main %}


  <div class="layer">
    {% include "fragment/works_search_panel.html" %}
    <div class="demo clearfix">
      <div class="item_list infinite_scroll">
        {% if result_list|length > 0 %}
          {% for collection in result_list %}
            <div class="item masonry_brick">
              <div class="item_t">
                <div class="img">
                  <a href="{{ url_for('collection_details', collection_id=collection.id) }}">
                    {% if collection.photos|length > 0 %}
                      {% set filename = collection.photos[0].image.path %}
                    {% else %}
                      {% set filename = 'works_01.png' %}
                    {% endif %}
                    <img src="{{ url_for('images', width=285, height=184, filename=filename) }}"/>
                  </a>
                </div>
                <div class="title"><span>
                  {{ collection.name }} <br/>
                </span></div>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="search_no_result">
            您的搜索条件未返回任何结果，请修改搜索条件重新搜索
          </div>
        {% endif %}
        <!--item end-->
      </div>
      <div id="more"><a href="{{ url_for('works') }}"></a></div>
      <div id="page" class="page" style="display:none;">
        <div class="page_num">
          <span class="unprev"></span>
          <span class="current">1</span>
          <a href="#">&nbsp;2&nbsp;</a>
          <a href="#">&nbsp;3&nbsp;</a>
          <a href="#">&nbsp;4&nbsp;</a>
          <a href="#">&nbsp;5&nbsp;</a>
          <span class="etc"></span>
          <a href="#">12</a>
          <a href="#" class="next"></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}